/*-----------------

table of content



Headers css

slideshow css

search css

Cart css

Menu css

Contact us css

newsletter css

Faq css

gallery css

Footer css

breadcrumb css

buttons css

list-group css

carousel css

Propeties css

property-detail css

agent css

responsive

------------------*/





/*-----------------

css start here

------------------*/

body {

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #444;
    line-height: 25px;
	width: 100%;

}

h1, h2, h3, h4, h5, h6 {

	color: #444;

}

/* default font size */

.fa {

	font-size: 14px;

}

/* Override the bootstrap defaults */

h1 {

	font-size: 33px;

}

h2 {

	font-size: 27px;

}

h3 {

	font-size: 21px;

}

h4 {

	font-size: 15px;

}

h5 {

	font-size: 12px;

}

h6 {

	font-size: 10.2px;

}

a {

	color: #23a1d1;

}

a:hover {

	text-decoration: none;

}

legend {

	font-size: 18px;

	padding: 7px 0px

}

label {

	font-size: 12px;

	font-weight: normal;

}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {

	font-size: 14px;

}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {

	font-size: 12px;

}

.input-group .input-group-addon {

	font-size: 12px;

	height: 30px;

}

/* Fix some bootstrap issues */

span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {

	display: inline;

}



.nav-tabs {

	margin-bottom: 15px;

}

div.required .control-label:before {

	content: '* ';

	color: #F00;

	font-weight: bold;

}

/* Gradent to all drop down menus */

.dropdown-menu li > a:hover {

	text-decoration: none;

	color: #ffffff;

	background-color: #f55a4e;

	background-image: linear-gradient(to bottom, #ff1493, #ff1493);

	background-repeat: repeat-x;

}



/*-----------------

Headers css

------------------*/

#top {

	background-color: #ff1493;

	margin: 0 0 30px;

	min-height: 33px;

}

#top-links {

	padding-top: 6px;

}

#top  ul{

	margin-bottom:9px;

}

#top .btn-link, #top-links li, #top-links a {

	color: #fff;

	text-decoration: none;

	font-size:14px;

}

#top .signin li:first-child{

	padding-right:8px;

}

#top .signin li{

	line-height:15px;

}

#top .signin{

	padding:1px 15px;

	margin:0px ;

}

#top #top-links .list-inline.pull-left li:first-child {

	border-right: 1px solid #fff;

}

@media(max-width:767px){

	#top{text-align:center;}

	#top-links .pull-left,#top-links .pull-right{

		float:none !important;

		text-align:center;

	}

}

#top .btn-link{
	color: #fff;
	text-shadow:none;
	text-decoration: none;
}

#top .btn-link:hover {

	color: #444;

}

#top-links .dropdown-menu a {

	text-shadow: none;

}

#top-links .dropdown-menu a:hover {

	color: #FFF;

}

#top .btn-link strong {

	font-size: 14px;

        line-height: 14px;

}

#top #form-currency .currency-select,

#top #form-language .language-select {

	text-align: left;

}

#top #form-currency .currency-select:hover,

#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #ff1493;
	background-image: linear-gradient(to bottom, #ff1493, #ff1493);
	background-repeat: repeat-x;
}

.headercenter #logo img{

	margin:0 auto;

}

.headerright{

	

}

#logo {

	margin: 0 0 10px 0;

}

header .header_right li{

	padding:0;

}

header .header_right li a{

	margin-top: 35px;

	background-image: url("../image/social_split.png");

	background-repeat: no-repeat;

	cursor: pointer;

	height: 45px;

	width: 40px;

	display:block;

}

header .header_right .fb a{

	background-position: -4px 0;

}

header .header_right .fb:hover a{

	background-position: -4px -56px;

}

header .header_right .twitter a{

	background-position: -50px 0;

}

header .header_right .twitter:hover a{

	background-position: -50px -56px;

}

header .header_right .google a{

	background-position: -94px 0;

}

header .header_right .google:hover a{

	background-position: -94px -56px;

}

header .header_right .rss a{

	background-position: -139px 0;

}

header .header_right .rss:hover a{

	background-position: -139px -56px;

}

header .header_right .youtube a{

	background-position: -186px 0;

}

header .header_right .youtube:hover a{

	background-position: -186px -56px;

}

header .header_right .pintrest a{

	background-position: -231px 0;

}

header .header_right .pintrest:hover a{

	background-position: -231px -56px;

}

header .header_right .instagram a{

	background-position: -278px 0;

}

header .header_right .instagram:hover a{

	background-position: -278px -56px;

}

header .header_right .linkedin a{

	background-position: -324px 0;

}

header .header_right .linkedin:hover a{

	background-position: -324px -56px;

}

header .header_right .golu a{

	background-position: -369px 0;

}

header .header_right .golu:hover a {

	background-position: -369px -56px;

}

.header3 #logo{

	margin:10px 0;

}

.header3 #top{

	background:#444444;

	min-height:40px;

	margin:0 0 0px;

}

.header3 #top-links ul{

	margin:0;

}

.header3 #top-links{

	padding:0px;

}

.header3 #top-links li{

	border-left:1px solid #ebebeb !important;

}

.header3 #top-links li ul li{

	border:none;

}

.header3 #top li a{

	color:#a2b3bb;

}

.header3 #top li{

	padding:10px 10px;

}

.header3 #top li ul li{

	padding:0px 8px;

}

.header3 #top #top-links li ul li:first-child,.header3 #top #top-links li ul li:last-child,.header3 #top .social li{

	border:none !important;

	border-right:none !important;

}



.header3 #top #top-links .pull-left li:last-child,.header3 #top #top-links .pull-right li:last-child{

	border-right:1px solid #ebebeb ;

}

.header3 #top #top-links li:first-child,.header3 #top #top-links .pull-left ul li:last-child{

	border-right:none ;

}

.header3 #form-language .btn-link span{

	color:#a2b3bb;

}

.header3 #form-language .btn-link{

	text-shadow:none;

	color:#fff;

	padding:0px;

	line-height:15px;

}

.header3 #form-language .fa-angle-down{

	background:#262f3e;

	border:1px solid #343642;

	padding:5px 7px;

	margin:-5px 0;

}

.header3 #form-language .dropdown-menu li .btn-link{

	color:#000;

}

.header3  ul.megamenu{

	float:right;

	text-align:left;

}

.header3 #menu,.header3 .with-sub-menu{

	background:transparent !important;

}

.header3 .with-sub-menu:hover{

	background:#f8f8f8 !important;

}

.header3 ul.megamenu > li > a{

	padding:38px 25px;

}

.headcenter{

	color:#000;

	text-transform:uppercase;

	text-align:center;

	font-size:22px;

	font-weight:bold;

}

.header4 #top{
	background:transparent;

	border-bottom:1px solid #ebebeb;
}

.header3 .header4 #form-language .btn-link{
	color:#000;
}

.header3 .header4 #form-language .fa-angle-down{
	background:#ddd;

	border-color:#ddd;
}

.header5 #top{

	background:rgba(0,0,0,0.6);

	margin:0;

}

.header5 #top .btn-link span,.header5 #top .fa,.header5 #top a,.header5 header .login .fa{

	color:#a2b1b6;

}

.header5 header .login a{

		color:#fff;

		font-size:16px;

}

.header5 header .login li:last-child{

	border-left:none !important;

}

.header5 header .login li{

	border-left:1px solid #242424 !important;

	border-right:1px solid #242424 !important; 

	padding:17px 15px;

}

.header5 header .login ul{

	margin:0;

}

.header5 header .login .fa{

	padding-right:5px;

	font-size:16px;

}

.header5 #top .btn-link{

	text-shadow:none;

	color:#fff;

}

.header5 li{

	border:none !important;

}

.common-home .headermain{

	left: 0;

    position: absolute;

    right: 0;

    z-index: 111;

}

.headermain{

	margin-bottom:10px;

}

.header5 #logo{
	margin:0;
}

.header5 #logo img{

	margin:0 auto 5px;

	text-align:center;

}

.header5 #menu,.header5 .with-sub-menu,.header5 .with-sub-menu:hover{

	background:transparent !important;

	border:none;

}

.header5 .with-sub-menu:hover a{

	color:#ff1493;

	border:none !important;

	text-decoration:none !important;

}

.header5  header{

	background:rgba(36,36,36,0.7);

}

.header5 ul.megamenu > li > a{

	color:#fff;

}





/*-----------------

slideshow css

------------------*/

.owl-wrapper-outer{

	border:none !important;

	border-radius:0px !important;

	box-shadow:none !important;

}

.box{
	border:1px solid #ddd;

	border-radius:5px;

	margin:0 0 20px;

	padding:15px;
}

#slideshow0{

	margin-bottom:0px;

}

#slideshow0 img{

	width:100%;

}

#slideshow0 .owl-prev {

	color: #ff1493;

	left: 10px;

	position: absolute;

	top: 40%;

}

#slideshow0 .owl-buttons div {

	text-shadow:none;

	opacity:1;

}

#slideshow0 .owl-buttons div i{

	margin:0px !important;

}

.fa-4x {

    font-size: 4em !important;

}

#slideshow0 .owl-next {

	color: #ff1493;

	right: 10px;

	position: absolute;

	top: 40%;

}





/*-----------------

search css

------------------*/

 .indexmap iframe {

	height:425px;

	width:100%;

}

.indexmap{

	min-height: 400px;

    width: 100%;

    z-index: 0;

}

.srch2 .indexmap{
	 opacity: 0.3;
}

.form-set {

    position: relative;

    margin-bottom: 45px;

}

.form-set .main-form {

    margin: 0 auto;

    position: absolute;

    top: 0px;

	width:100%;

	padding:20px 0;

   background:#444444 repeat scroll 0 0; 



}

.search_heading {

	background: transparent;

	border-bottom: 2px solid #ff1493;

	margin-bottom:30px;

}

.search_heading  .fa{

	font-size:22px;

	padding-left:10px;

}

.search_heading h4 {

	background: #ff1493 none repeat scroll 0 0;

	color: #ffffff;

	display: inline-block;

	font-size: 18px;

	font-weight: normal;

	min-height: 40px;

	margin: 0;

	padding: 10px 15px;

}

.main-form .triangle {

	background: #ff1493 none repeat scroll 0 0;

	display: inline-block;

	height: 42px;

	margin-left: -15px;

	transform: skew(35deg);

	vertical-align: bottom;

	width: 35px;

}

.main-form .triangle::after {

	border-right: 2px solid #000;

	content: "";

	display: block;

	height: 42px;

	position: absolute;

	right: 0px;

	top: 0;

	transform: rotate(0deg);

	width: 26px;

}

.main-form .form-group .form-control,.main-form .form-group .btn-default{

	border-radius:7px;

	min-height:45px;

	background:#fff;

}

.main-form .form-group label .sub{

	text-transform:capitalize;

	font-size:14px;

}

.main-form .form-group label{

	color:#fff;

	font-size:16px;

	font-weight:600;

	text-transform:uppercase;

	margin-bottom:30px;

}

.main-form .form-group{

	margin-bottom:30px;

	min-height:35px;

}

.slider_search{

	display:none;

}

.price-range .bg{

	background: hsl(1, 81%, 58%) none repeat scroll 0 0;

    height: 12px;

    margin-left: 9%;

    margin-top: -6px;

    width: 66%;

}

.price-range,#price-range,#sqft-range { 

	border: 6px solid #aaaaaa;

	background:#ccc ;

	height:6px;

	color: #222222; 

	font-weight: bold;

}

.slider-handle:before { 

	content:'||';

	color:#ccc;

	font-size:14px;

	font-weight:bold;

	padding-left:10px;

}

#column-right .slider-handle:before {

	padding-left:5px;

}

.one{

	left:10%;

}

.two{

	right:25%;

	

}

.min{

	left:10%;

	position:absolute;

	color:#fff;

	top:-15px;

}

.max{

	right:25%;

	position:absolute;

	color:#fff;

	top:-15px;

}

.price-filter{

	position:relative;

	min-height:30px;

}

.slider-handle { 

	background:#FFFFFF;

	border-radius:50%;

	height:28px;

	width:28px;

	display:inline-block;

	padding:2px 1px;

	position:absolute;

	top:11px;

}

.search-panel .fa{

	font-size:18px;

	padding-left:10px;

}

.property_search2 .round img{

	border: 1px solid #ccc;

	border-radius:50%;

	margin: 10px auto;

    padding: 18px 20px;

}

.property_search2 .round {

	text-align:center;

	width:115px;

	height:115px;

	margin:-60px auto 0;

	border: 1px solid #ccc;

	background:#fff;

	border-radius:50%;

}

.property_search2 .rotate_button {

	margin: 40% 0 50px;

	border: 1px solid #ccc;

}

.property_search2 .btn-gery {

	background-color: #fff;

	background-repeat: repeat-x;

	border: 1px solid #ccc;

	border-radius:0;

	color: #858585;

	font-size: 14px;

	font-weight: 300;

	padding: 7px 15px;

	margin-bottom:-15px;

}

.property_search2 .col-sm-4:nth-child(2) .round img{

	padding:18px 12px;

}

.property_search2 .rotate_button h3 {

	color: #555;

	font-size: 22px;

	margin-bottom: 12px;

	margin-top: 30px;

}

.property_search2 .rotate_button p {

	color: #555;

	font-size: 14px;

	font-weight: 300;

	margin-bottom: 18px;

}

.rotate_button:hover .btn-gery {

	background-color: #ff1493;

	border-color: #ff1493;

	color:#fff;

}

.srch2 .search_heading h4{

	background:none;

	display:block;

	text-align:center;

	color:#000;

}

.srch2 .search_heading{

	border:none;

}

.srch2 .main-form .form-group label{

	color:#000;

}

.srch2 .min,.srch2 .max{

	color:#ff1493;

}

.srch2 .form-set{

	background:none;

	 margin-bottom: 40px;

}

.srch2 .main-form .form-group .form-control,.srch2 .main-form .form-group .btn-default{

	border-radius:0px;

	border-color:#ff1493;

}

.srch2 .search-panel a:hover{

	color:#ff1493 !important;

}

.srch2 .search-panel .fa{

	padding:0px;

	color:#ff1493;

}

.srch2 .search-panel a{

	background:transparent;

	color:#000;

	padding:5px 0;

}

.srch2 .search-panel{

	float:left;

	width:100%;

	margin:25px 0 -15px;

}

.srch2 #advsearch{

	position:relative;

	bottom:auto;

	margin-top:10px;

}

.srch2 .search-panel li{

	color:#000;

}

.srchpro .product-thumb{

	border:1px solid #ddd;

}

.srchpro .breadmain{

	margin-bottom:0px;

}

.slidersrch3 .form-control{

	margin-bottom:20px;

}

.slidersrch3 .slider_search h4{

	margin:20px 0;

}

.slidersrch3 .slider_search{

	border-radius:0px;

	top:0;

	right:0;

	

}

#advsearch{

	position:absolute;

	bottom:-80px;

	width:100%;

	clear:both;

}

.search-panel a:hover{

	color:#fff !important;

}

.search-panel a{

	background:#EA403C;

	color:#fff!important;

	text-transform:uppercase;

	padding:3px 15px;

	cursor:pointer;

	font-size:16px;

	font-weight:400;

}

.property-category{

	background-color:#f5f5f5 !important;

	padding-bottom:30px;

	margin-bottom:-30px;

}

.buttons{

	display:block;

	padding:0px;

	clear:both;

}

.search-panel{

	position:relative !important;

	padding:0px !important;

}

.search-panel input[type="checkbox"]{

	height:20px;

	width:20px;

}

.search-panel li img{

	margin:0 5px;

	vertical-align:middle;

	display:inline-block;

}

.search-panel .form-group{

	margin-bottom:0px !important;

}

.search-panel ul{

	margin:0;

}

.search-panel li:nth-child(6),.search-panel li:nth-child(7){

	margin-bottom:0px;

}

.near{

	margin-top:30px;

}

.search-panel li{

	font-size:14px;

	color:#fff;

	width:19%;

	margin-bottom:30px;

}

.bedrooms{

	background:url("../image/icons-grey/bedroom.png");

	display:inline-block;

	width:24px;

	height:21px;

	margin-right:10px;

	vertical-align:middle;

}

.bathrooms{

	background:url("../image/icons-grey/bathroom.png");

	display:inline-block;

	width:26px;

	height:24px;

	margin-right:10px;

	vertical-align:middle;

}
.sqft{

	background:url("../image/icons-grey/sqr.png");

	display:inline-block;

	width:27px;

	height:26px;

	margin-right:10px;

	vertical-align:middle;

}
.garage{

	background:url("../image/icons-grey/garage.png");

	display:inline-block;

	width:27px;

	height:26px;

	margin-right:10px;

	vertical-align:middle;

}
.pool{

	background:url("../image/icons-grey/pool.png")no-repeat scroll 0 0;

	display:inline-block;

	width:31px;

	height:18px;

	vertical-align:middle;

	margin-right:5px;

}

.internet{

	background:url("../image/icons-grey/internet.png")no-repeat scroll 0 0;

	display:inline-block;

	width:28px;

	height:21px;

	vertical-align:middle;

	margin-right:5px;

}

.playgroud{

	background:url("../image/icons-grey/playg.png")no-repeat scroll 0 0;

	display:inline-block;

	width:33px;

	height:25px;

	vertical-align:middle;

	margin-right:5px;

}

.garge{

	background:url("../image/icons-grey/garage.png")no-repeat scroll 0 0;

	display:inline-block;

	width:25px;

	height:25px;

	vertical-align:middle;

	margin-right:5px;

}

.air{

	background:url("../image/icons-grey/air.png")no-repeat scroll 0 0;

	display:inline-block;

	width:27px;

	height:35px;

	vertical-align:middle;

	margin-right:5px;

}

.balcony{

	background:url("../image/icons-grey/balcony.png")no-repeat scroll 0 0;

	display:inline-block;

	width:36px;

	height:18px;

	vertical-align:middle;

	margin-right:5px;

}

.bus{

	background:url("../image/icons-grey/bus.png")no-repeat scroll 0 0;

	display:inline-block;

	width:19px;

	height:24px;

	vertical-align:middle;

	margin-right:5px;

}

.school{

	background:url("../image/icons-grey/school.png")no-repeat scroll 0 0;

	display:inline-block;

	width:32px;

	height:28px;

	vertical-align:middle;

	margin-right:5px;

}

.mall{

	background:url("../image/icons-grey/shoping.png")no-repeat scroll 0 0;

	display:inline-block;

	width:24px;

	height:24px;

	vertical-align:middle;

	margin-right:5px;

}

.railway{

	background:url("../image/icons-grey/railway.png")no-repeat scroll 0 0;

	display:inline-block;

	width:18px;

	height:18px;

	vertical-align:middle;

	margin-right:5px;

}

.gym{

	background:url("../image/icons-grey/gym.png")no-repeat scroll 0 0;

	display:inline-block;

	width:28px;

	height:14px;

	vertical-align:middle;

	margin-right:5px;

}

.airport{

	background:url("../image/icons-grey/airport.png")no-repeat scroll 0 0;

	display:inline-block;

	width:18px;

	height:18px;

	vertical-align:middle;

	margin-right:5px;

}

.hospital{

	background:url("../image/icons-grey/hospital.png")no-repeat scroll 0 0;

	display:inline-block;

	width:19px;

	height:19px;

	vertical-align:middle;

	margin-right:5px;

}

.bus-stand{

	background:url("../image/icons-grey/bus-stand.png")no-repeat scroll 0 0;

	display:inline-block;

	width:17px;

	height:22px;

	vertical-align:middle;

	margin-right:5px;

}

.temple{

	background:url("../image/icons-grey/temple.png")no-repeat scroll 0 0;

	display:inline-block;

	width:24px;

	height:20px;

	vertical-align:middle;

	margin-right:5px;

}

.common-home .slider_search{

	display:block;

}

.slider_search h4 {

	color: #fff;

	font-weight: bold;

	font-size:18px;

}

.slider_search .form-group{

	margin-bottom:10px;

}

.slider_search .form-horizontal .width95 .form-group .form-control {

	width: 95%;

}

.slider_search .form-control{

	margin:0;

}

.button_search1 .fa{

	padding-right:15px;

	border-right:1px solid #B41612;

	margin-right:15px;

	padding-top:15px;

	padding-bottom:15px;

	font-size: 22px !important;

}

.button_search1 {

	background: #ff1493 none repeat scroll 0 0 !important;

	border: medium none !important;

	border-radius: 5px !important;

	color: #fff;

	font-size: 22px !important;

	margin:10px 0 12px !important;

	padding: 2px 40px !important;

	min-height:55px;

	float:right;

}

@media (min-width:768px){

	.slider_search {

		background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;

		border-radius: 10px;

		padding: 15px;

		position: absolute;

		right: 81px;

		text-align: center;

		top: auto;

		z-index: 999;

	}

	.slider_search h4 {

		margin:0 0 10px;

	}

	.slider_search .button_search {

		background: #ff1493 none repeat scroll 0 0;

		border: medium none;

		border-radius: 5px;

		color: #fff;

		font-size: 15px;

		margin: 0;

		padding: 0.5px 40px 0.5px 10px;

	}

	.slider_search .form-group {

		margin-bottom: 10px;

	}

}

@media (min-width:980px){

	.slider_search {

		background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;

		border-radius: 10px;

		padding: 15px 26px;

		position: absolute;

		right: 30px;

		text-align: center;

		top: 13px;

		z-index: 12;

		left:-8px;

	}

	.slider_search h4 {

		margin:0 0 11px;

	}

	.slider_search .button_search {

		background: #ff1493 none repeat scroll 0 0;

		border: medium none;

		border-radius: 5px;

		color: #fff;

		font-size: 22px;

		margin: 12px 0;

		padding: 7.5px 40px 7.5px 10px;

	}

	.slider_search .form-group {

		margin-bottom: 10px;

	}

}

@media (max-width:767px){

	.slider_search {

		background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;

	}

	.slider_search .button_search {

		background: #ff1493 none repeat scroll 0 0;

		border: medium none;

		border-radius: 5px;

		color: #fff;

		font-size: 22px;

		margin: 10px 0;

		padding: 7.5px 40px 7.5px 10px;

	}

	.slider_search .form-horizontal .width95 .form-group .form-control {

		width: 100%;

	}

	.slider_search h4 {

		padding: 10px 0 0;

	}

}

.slider_search .button_search i ,.slider_search .button_search1 i {

	border-top: 1px solid #f54a3c;

	font-size: 20px;

	line-height: 24px;

	margin-right: 5px;

	padding: 5px;

	transform: rotate(90deg);

}

#search {

	margin-bottom: 10px;

}

#search .input-lg {

	height: 40px;

	line-height: 20px;

	padding: 0 10px;

}

#search .btn-lg {

	font-size: 15px;

	line-height: 18px;

	padding: 10px 35px;

	text-shadow: 0 1px 0 #FFF;

}

.advance-search h3{

	padding:10px 18px;

	font-size:18px;

}

.advance-search .latest_product_heading{

	background:#fff;

}

.advance-search .bootstrap-select.form-control:not([class*="col-"]){

	width:100% !important;

}

.advance-search{

	background:#fff;

	margin-top:40px;

}

.list-group.listing #advsearch{

	bottom:-125px;

	right:15px;

}

.list-group.listing .search-panel a{

	background:transparent;

	color:hsl(4, 89%, 63%) !important;

	float:right;

	padding:8px 0px;

	border:none;

}

.list-group.listing  .min,.list-group.listing  .max{

	color:#9B9B9B;

	top:-5px;

	background:transparent;

}

.list-group.listing label{

	font-size:16px;

	color:#666666;

	text-transform:uppercase;

	font-weight:bold;

}

.list-group.listing .price-filter .slider-handle{

	/*top:21px;*/

	padding:1px 1px;

}

.list-group.listing .search-panel li:nth-child(odd){

	width:54%;

}

.list-group.listing .slider-handle::before{
	padding-left:5px;
}

.list-group.listing .search-panel li{

	color:#999999;

	font-size:13px;

	width:44%;

	margin-bottom:15px;

	padding:0px;

}

.list-group.listing .near{

	margin:10px 0;

}

.list-group.listing .ament{

	margin-top:20px;

}

.list-group.listing .search-panel .fa{

	padding:0 10px 0 0;

}

.list-group.listing .price-filter a{

	background:#E5E5E5;

}

.list-group.listing .price-filter{

	min-height:50px;

	padding-top:20px;

	margin-bottom:10px;

}

.advance-search .list-group.listing {

	height:580px;

}

.property-category .list-group.listing {

	min-height:940px;

	height:100%;

}

.latest_product .list-group.listing {

	height:940px;

}

.list-group.listing {

  background:#fff;

  margin-bottom: 20px;

  padding: 10px 15px;

  min-height:870px !important;



}

.list-group.listing h3{

	font-size:18px;

	color:#555555;

	margin:15px 0;

	font-weight:600;

}

.list-group.listing .form-control{

	background:#fff;

	font-size:14px;

	color:#a4a3a3;

	margin-bottom:20px;

	border-radius:8px;

}

.list-group.listing .btn-primary{

	background:#ff1493;

	text-transform:uppercase;

	font-size:20px;

	border-color:#ff1493;

	padding:2px 25px;

	height:58px;

	line-height:40px;

}

.list-group.listing .btn-primary{

	margin:20px 0 0;

	border-radius:8px;

}

.list-group.listing .btn-primary i {

  border-left: 1px solid #fff;

  font-size: 20px;

  line-height: 24px;

  float:left;

  margin-right: 5px;

  padding:10px 0 10px 15px;

  -ms-transform: rotateY(160deg);

	-webkit-transform: rotateY(160deg);

	-moz-transform: rotateY(160deg);

	-o-transform: rotateY(160deg);

  transform: rotateY(160deg);

}

.listing-map iframe{

	margin-bottom:20px;

	border: 0 none;

	height: 450px;

	width: 100%;

}

/**/

.srch5 {

    margin-top: -340px;

}

.srch5 .slider_search1 {

    border-radius: 0px;

    right: 0;

    top: 0%;

    min-height: 340px;

    z-index:1;

    background: rgba(77, 200, 208, 0.80);

    text-align:left;

    padding-top:15px;

}

.srch5 .slider_search1 h4 {

    margin:10px 0 55px;

    color:#fff;

}

.srch5 .min{

    left:8%;

    color:#fff;

}

.srch5 .max{

    right:24%;

    color:#fff;

}

.srch5 .form-group{

     margin-bottom:0px;

 }

.srch5 .form-control {

    border:0;

    margin-bottom:15px;

}

.srch5 .slider_search1 label {

    text-align:left !important;

    color:#fff;

    display:block;

    padding-bottom:20px;

    font-size:18px;

}

.srch5 .price-range .bg {

    background: #005760;

}

.srch5 .button_search{

    border-radius: 0px;

    font-size: 16px;

    margin:32px 15px 0px;

    padding: 11px 60px;

    float:left;

    background: #005760;

    color:#fff !important;

}    

.srch5 .button_search .fa{

    margin-right:12px;

    padding:0;

    border-right:0;

}

.srch5 .button_search:hover {

    color: #fff !important;

}

.srch5 .search-panel ul {

    text-align: left;

}

.srch5 .search-panel li {

    width: 40%;

    text-align: left;

}

.srch5 .search-panel li:nth-child(6), .index6 .search-panel li:nth-child(7) {

    margin-bottom: 0px;

}

.srch5 #advsearch{

    bottom:-30px;

    text-align:left;

}

.srch5 #advsearch a{

    color:#fff;

    padding:5px 0px;

    font-weight:600;

    background:transparent;

}

.srch5 #advsearch .fa{

    padding-right:10px;

    color:#fff;

}



/*-----------------

Cart css

------------------*/

#cart {

	margin-bottom: 10px;

}

#cart > .btn {

	font-size: 12px;

	line-height: 18px;

	color: #FFF;

}

#cart.open > .btn {

	background-image: none;

	background-color: #FFFFFF;

	border: 1px solid #E6E6E6;

	color: #666;

	box-shadow: none;

	text-shadow: none;

}

#cart.open > .btn:hover {

	color: #444;

}

#cart .dropdown-menu {

	background: #eee;

	z-index: 1001;

}

#cart .dropdown-menu {

	min-width: 100%;

}

@media (max-width: 478px) {

	#cart .dropdown-menu {

		width: 100%;

	}

}

#cart .dropdown-menu table {

	margin-bottom: 10px;

}

#cart .dropdown-menu li > div {

	min-width: 427px;

	padding: 0 10px;

}

@media (max-width: 478px) {

	#cart .dropdown-menu li > div {

		min-width: 100%;

	}

}

#cart .dropdown-menu li p {

	margin: 20px 0;

}

/*-----------------

Menu css

------------------*/

#menu-wrap {

	background: #fff;

}

#menu {

	border: medium none;

	margin: 0;

	min-height: 40px;

}

#menu .nav > li > a {

	background-color: transparent;

	border-top: 2px solid transparent;

	color: #555;

	font-size: 15px;

	font-weight: 300;

	text-transform:uppercase;

}

#menu .nav > li > a:hover, #menu .nav > li.open > a {

	background-color: #fff;

	border-top: 2px solid #ff1493;

}

/* menu-drop */

#menu .dropdown-menu .dropdown-inner .list-unstyled {

	display: table-cell;

}

#menu .dropdown-menu {

	border-top: medium none;

	margin: 0;

	padding: 0;

}

#menu .dropdown-inner {

	display: table;

}

#menu .dropdown-inner a {

	background: #ff1493 none repeat scroll 0 0;

	border-bottom: 1px solid #ddd;

	clear: both;

	color: #fff;

	display: block;

	font-size: 15px;

	line-height: 20px;

	min-width: 195px;

	padding: 7.5px 20px;

}

#menu .dropdown-inner li:last-child a{

	border:none;

}

.dropdown-submenu {

    position: relative;

}

.marginBottom-0 {

		margin-bottom:0;

}

.dropdown-submenu>.dropdown-menu {

    top: 0;

    left: 100%;

    margin-top: -6px;

    margin-left: -1px;

    -webkit-border-radius: 0 6px 6px 6px;

    -moz-border-radius: 0 6px 6px;

    border-radius: 0 6px 6px 6px;

}



#menu .dropdown-submenu:hover>.dropdown-menu {

	display: block;

}

#menu .dropdown-menu .dropdown-inner li > a:hover {

	background-color: #fafafa;

	background-repeat: repeat-x;

	color: #000;

	text-decoration: none;

}

#menu .category {

	color: #000;

	float: left;

	font-size: 16px;

	font-weight: 700;

	line-height: 40px;

	padding-left: 15px;

	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

}

#menu .navbar-toggle {

	color: #ff1493;

	margin: 0;

}

.dropdown-submenu>a:after {

    display: block;

    content: " ";

    float: right;

    width: 0;

    height: 0;

    border-color: transparent;

    border-style: solid;

    border-width: 5px 0 5px 5px;

    border-left-color: #ccc;

    margin-top: 5px;

    margin-right: -10px;

}



.dropdown-submenu:hover>a:after {

    border-left-color: #fff;

}



.dropdown-submenu.pull-left {

    float: none;

}



.dropdown-submenu.pull-left>.dropdown-menu {

    left: -100%;

    margin-left: 10px;

    -webkit-border-radius: 6px 0 6px 6px;

    -moz-border-radius: 6px 0 6px 6px;

    border-radius: 6px 0 6px 6px;

}

@media (min-width:768px){

	#menu .dropdown:hover .dropdown-menu {

		display: block;

	}

}	

@media (min-width:768px){

	#menu .dropdown-submenu .dropdown-menu.list-unstyled {

		display: none;

		margin-left: -2px;

	}

	#menu .dropdown-submenu:hover .dropdown-menu, #menu .dropdown-submenu:focus .dropdown-menu {

		display: block;

	}

}



@media (min-width:768px){

	#menu .nav > li > a {

		font-size: 13px;

    padding: 18px 14px;	

	}	

}

@media (min-width:980px){

	#menu .nav > li > a {

		font-size: 15px;

		padding: 18px 25px;	

	}	

}



@media (min-width:1200px){

	#menu .nav > li > a {

		font-size: 15px;

		padding: 18px 37px;	

	}	

}

@media (min-width:1600px){

	#menu .nav > li > a {

		font-size: 15px;

		padding: 18px 38px;	

	}	

}

@media (min-width:2400px){

	#menu .nav > li > a {

		font-size: 15px;

		padding: 18px 33px;	

	}	

}

.padd0{

	padding:0px;

}



#content {

	min-height: auto;

}



/*-----------------

Contact us css

------------------*/

.map iframe {

	background: #b4e3a4 none repeat scroll 0 0;

	height: 290px;

	width: 100%;

}

.contact-map iframe {

	border: 0 none;

	height: 450px;

	width: 100%;

}

.contactpage .form-control:hover,.contactpage .form-control.active{

	border-color:#ff1493;

	box-shadow:none;

}

.conatctform .btn{

	background-color:#262f3e;

	border-color:#262f3e;

	border-radius:0px;

	color:#fff;

	text-transform:uppercase;

}

.conatctform .form-control{

	background:#0c0c14;

	border-radius:0px;

	border-color:#262f3e;

	color:#6a6a6a;

	font-size:12px;

}

.contactpage .form-control{

	min-height:51px;

	border-radius:3px;

}

@media (max-width:767px){

	.contactpage .form-control{

		margin-bottom:10px;

	}	

}

.contactpage .btn-primary{

	background:#ff1493;

	font-weight:bold;

	font-size:18px;

	text-transform:uppercase;

	border-radius:0px;

	border:none;

	box-shadow:none;

	width:126px;

	height:50px;

}

.contactpage .mainbox .box1{

	border:1px solid hsl(0, 0%, 93%);

	color:hsl(0, 0%, 33%);

	font-size:14px;

	font-weight: 500;

    line-height: 23px;

    padding: 17px;

    position: relative;

    text-transform: capitalize;

    word-break: break-all;

}

.contactpage .mainbox .box1 li{

	color:#333333;

	font-size:16px;

	font-weight:300;

	padding:2px 0px;

}

.contactpage .mainbox .box1 h3{

	font-size:16px;

	color:#000;

	font-weight:bold;

}

.contactpage .mainbox .box1:hover li,.contactpage .mainbox .box1:hover h3{color:#fff;}

.contactpage .mainbox .box1:hover{

	background:#ff1493;

	color:#fff;

}

.contactpage .mainbox .box1{

	text-align:center;

	min-height:200px;

	margin:40px 0 10px;

}

.contactpage .mainbox .icons .fa{

	font-size: 30px !important;

}

.contactpage .mainbox .icons{

	background: #ff1493 none repeat scroll 0 0;

	border: 1px solid #fff;

	border-radius: 50%;

	color: #fff;

	font-size: 30px !important;

	height: 90px;

	margin: -52px auto auto;

	padding: 27px 29px;

	width: 90px;

}

.contactpage .mainbox .col-sm-4:last-child .icons{

	  padding:28px 35px;

}

.contactpage .mainbox h1{

	font-size:18px;

	color:#ff1493;

	text-transform:uppercase;

	text-align:center;

	margin:45px 0 50px;

}

.contactpage legend {

  border: medium none;

  color: #ff1493;

  font-size: 24px;

  margin:58px 0 48px;

	text-transform:uppercase;

	font-weight:700;

  text-align: center;

}





/*-----------------

newsletter css

------------------*/

#frm_subscribe .newsbox {

	display: inline-block;

	width: 100%;

}

#frm_subscribe .form-inline .input-group {

	width: 100%;

	height: 60px;

}

#frm_subscribe .input-group .input-group-addon {

    border-radius: 0;

}

#frm_subscribe .news-label i {

    font-size: 20px;

}

#frm_subscribe .news-label span {

    padding-left: 10px;

    vertical-align: top;

}

#frm_subscribe .input-group .input-group-addon {

    border-radius: 0;

}

#frm_subscribe .btn-gery {

	cursor: pointer;

	width: 14%;

	background-color: #555555;

	background-repeat: repeat-x;

	border: medium none;

	color: #ffffff;

	font-size: 14px;

	font-weight: 300;

	padding: 7px 15px;

}

#frm_subscribe .btn-gery .btn-news {

	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;

	border: medium none !important;

	box-shadow: none !important;

	color: #fff !important;

	font-size: 20px !important;

	font-weight: normal !important;

	text-transform:capitalize !important;

}

#frm_subscribe .news-label,#frm_subscribe label {

	background: #ff1493 none repeat scroll 0 0;

	border: 1px solid #ff1493;

	color: #fff;

	font-size: 20px;

	width: 14%;

}
/*new code 26/10/18*/
footer #frm_subscribe label{
	background:transparent !important;
    text-align: left !important;
	border:none !important;
    padding: 0px !important;
}
footer #frm_subscribe .news-label span{
    padding: 0px !important;
}
/*new code 26/10/18*/

#frm_subscribe .newsbox .form-control {

	border-color: #ff1493 -moz-use-text-color #ff1493 #ff1493 !important;

	border-right: medium none;

	font-size: 18px;

	height: 40px;

}

@media (min-width:768px){

	#frm_subscribe .newsbox .form-control {

		border-left:none;

	}

	#frm_subscribe .newsbox .form-control:focus{

		box-shadow:none;

	}

	#frm_subscribe .newsbox .form-control {

		padding-left: 24px;	

		height: 60px !important;

		padding-left: 44px;

	}

}

@media (max-width:767px){

	#frm_subscribe .news-label {

		display:none;

	}

	#frm_subscribe .newsbox .form-control {

		min-height: 60px;

		padding-left: 5px;	

	}

}



/*-----------------

Faq css

------------------*/

.entry-content {

  color: #555555;

  font-size: 12px;

  line-height: 24px;

  text-align: justify;

}

.wrap .panel-title a {

	color: #ff1493;

	font-size: 18px;

	font-weight: 500;

}

.wrap .panel-default > .panel-heading{

	background:#fff;

	border:none;

}

.wrap .panel-default{

	margin-bottom:20px;

}

.wrap .panel-body{

	font-size: 14px;

    line-height: 24px;

    padding: 10px;

    text-align: justify;

}

.wrap .panel-default > .panel-heading + .panel-collapse > .panel-body{

	border-top:none;

}





.result {

	background: #fff9d8 none repeat scroll 0 0;

	border: 1px solid #fde2da;

	color: #ff1493;

	font-size: 32px;

	margin: 50px 0 80px;

	padding: 5px;

	text-align: center;

	line-height:50px;

}

.icon1{

	background:url(../image/not_found.png);

	width:125px;

	height:125px;

	display:block;

	margin:100px auto 30px;

    text-align: center;

}

.icon2{

	background:url(../image/not_found1.png);

	width:30px;

	height:28px;

	display:inline-block;

	margin-right:15px;

}

/*-------------------------------

gallery css

--------------------------------*/

.ourgallery{

	padding-top:20px;

}

.ourgallery hr{

	border-color:#35383E;

	width:93%;

	margin:-22px auto 50px;

}

.ourgallery h3{

	text-align:center;

}

.ourgallery h3 span{

	color:#35383E;

	font-weight:bold;

	font-size:24px;

	padding:5px 25px;

	background:#fff;

}

.ourgallery .owl-prev .fa:hover,.ourgallery .owl-next .fa:hover{

	background:#ff1493;

}

.ourgallery .owl-prev .fa,.ourgallery .owl-next .fa{

	background:#35383E;

	font-size:20px;

	color:#fff;

	border-radius:50%;

	padding:4px 12px 4px 9px;

}

.ourgallery .owl-next .fa{

	padding:4px 9px 4px 12px;

}

.ourgallery .owl-prev{

	left:0px !important;

	position:absolute !important;

	top:-44% !important;

}

.ourgallery #gallery{

	margin-bottom:55px;

}

.ourgallery .owl-buttons div{

	opacity:1 !important;

}

.ourgallery .owl-next{

	right:0px !important;

	position:absolute !important;

	top:-44% !important;

}

.gallery3 li{

	padding:0px !important;

}

.gallery3 li + li{

	margin-left:-4px;

}

#gallery .nav-tabs{

	border:none !important;

	text-align:center;

	margin:0 auto 30px;

	min-height:55px;

}

#gallery .nav-tabs > li{

	padding:15px 15px;

	background:transparent;

	border:1px solid #ddd;

	float:none;cursor:pointer;

}

#gallery .nav-tabs > li:hover,#gallery .nav-tabs > li.active{

	background:#ff1493;

	border-color:#ff1493;

}

#gallery .nav-tabs > li a{

	color:#000;

	text-transform:uppercase;

	border-radius:0px;

	border:none;

	font-weight:bold;

}

#gallery .nav-tabs > li + li{

	margin-left:5px;

}

#gallery .nav-tabs > li.active > a,#gallery .nav-tabs > li.active > a:focus,#gallery .nav-tabs > li.active > a:hover,#gallery .nav-tabs > li:hover > a{

	border-radius:0px;

	color:#fff;

	background-color:transparent;

	border-color:#ff1493;

}

.gallary_second li{

	padding:5px;

}



/*-------------------------------

Footer css

--------------------------------*/

footer {

	background-color: #303030;

	border-top: 4px solid #f15b4a;

	color: #e2e2e2;

	margin-top: 30px;

	padding-top: 30px;

	position: relative;

}

footer .caret {

	color: #ff1493;

	position: absolute;

	right: 50%;

	top: 0;

	border-left: 8px solid transparent;

	border-right: 8px solid transparent;

	border-top: 12px solid;

	display: inline-block;

	height: 0;

	margin-left: 2px;

	vertical-align: middle;

	width: 0;

}

footer h5 {

	color: #fff;

	font-size: 18px;

	font-weight: 600;

}

footer p {

	color: #ffffff;

	font-size: 13px;

}

footer .fa {

	color: #ff1493;

	font-size: 16px;

	width: 18px;

}

footer a:hover,a:focus{

	color:#fff;

	outline:none;

	text-decoration:none;

}

footer a {

	color: #fff;

	line-height: 24px;

}

footer .fa-caret-right {

	color: #fff;

}

footer .list-unstyled > li {

	color: #fff;

	font-size: 14px;

}

footer .testimonial h5 {

	border-bottom: 1px solid #ff1493;

	font-size: 16px;

	padding-bottom: 5px;

	position: relative;

}

footer .testimonial .fa {

	color: #ff1493;

	font-size: 22px;

	position: absolute;

	right: 4px;

	top: 4px;

}

footer .testimonial {

	background:transparent;

	margin:0px;

}

footer .testimonial p {

	background: #2a2a2a none repeat scroll 0 0;

	border: 1px solid #000000;

	font-size: 12px;

	padding: 10px;

}

footer .powered {

	color: #918a8a;

	font-size: 14px;

	margin: 20px 0;

	text-align: center;

}

footer .testimonial span {

	color: #fff;

	font-size: 14px;

	margin-top: 10px;

}

.powered3 .pull-right li:last-child{

	border:none;

}

.powered3 .pull-right li{

	border-right:1px solid #8a8a89;

	text-transform: capitalize;

}

.powered3 .pull-right li a{

	color:#8a8a89;

	font-size:14px;

}

.footer3 .footer-logo .logo{

	margin-bottom:15px;

}

.footer3 .footer-logo p{

	line-height:20px;

}

.footer-logo{
	margin:20px 0 0;
}

.footer3 .footer-logo .fa{

	color:#ff1493;

	font-size:16px;

}

.footer3 .tags li{

	border:1px solid #fff;

	padding:3px 5px;

	margin-bottom:2px;

}

.footer3 .links li{

	border-bottom:1px solid #324458;

	padding:5px 0;

}

.footer3 h5{

	border-left:2px solid #ff1493!important;

	padding-left:10px;

	text-transform:uppercase;

	margin-bottom:25px;

}

.footer4 h5{

	border:none;

	margin-bottom:3px;

}

.footer5 h5{

	border:none;

	margin-bottom:3px;

	padding-left:0px;

}

.footer5 hr{

	background: linear-gradient(to right,  #ff1493 10%,#fff 11%);

	height:2px;

	width:100%;border:none;

	margin-top:0;

}

.footer4 hr{

	background: linear-gradient(to right,  #ff1493 10%,#fff 11%);

	height:2px;

	width:91%;border:none;

	margin-top:0;

}

.footer3 .news-label,.footer3 #frm_subscribe .news-label i{

	display:none;

}

.footer3 #frm_subscribe .form-control{

	height:30px !important;

	padding-left:0px;

	background:transparent !important;

	border-radius:0px;

	border:1px solid #fff !important;

	margin:5px 0 15px;

	padding:0 5px;

	font-size:14px;
    /*new code 26/10/18*/
    width: 100%;
    display: block;
    /*new code 26/10/18*/
}
/*new code 26/10/18*/
.footer3 #frm_subscribe .input-group{
    display: block;
}
.footer3 #frm_subscribe .input-group .form-control,.footer3 #frm_subscribe .input-group-addon, .input-group-btn{
    display: block;
    width: 100%;
    clear: both;
}
.footer3 #frm_subscribe .input-group-addon, .input-group-btn{
    height: auto;
}
/*new code 26/10/18*/

.footer3 #frm_subscribe .btn-gery{

	background-color:#35475d;

	margin-top:10px;

	border-radius:0px;

}

.footer3 #newsletter{

	background:transparent !important;

}

.powered3{

	background:#333;

	text-align:center;

	color:#fff;

	padding:15px 0;

	margin-bottom:0px;

}

.footer3{

	background:#444444;

	border-top:none;

}

.footer4 .news .fa{

	background:#ff1493;

	color:#fff;

	font-size:17px;

	border-radius:50%;

	padding:4px 6px;

	width:28px;

	float:left;

	margin-right:15px;

}

.footer4 .news li{

	border-bottom:1px solid #324458;

	margin-bottom:15px;

}

.footer4 .news li:last-child,.footer3 .links li:last-child{

	border:none;

}

.footer4 .news p{

	color:#989898;

	padding-left:15px;

}

.footer4 .ourgallery h3,.footer4 .ourgallery hr{

	display:none;

}

.footer4 .ourgallery{

	padding:0px;

}

.footer4 .ourgallery ul{

	margin:0;

}

.footer4 .ourgallery .gallery3 li:nth-child(4){

	margin-left:0px;

}

/* alert */

.alert {

	padding: 8px 14px 8px 14px;

}

/*-------------------------------

breadcrumb css

--------------------------------*/

.bread{

	background:#fff;

}

.breadmain{

	background:#fff;

    margin: 15px 0 35px;

    padding:25px 0;

}

.breadcrumb i {

	font-size: 15px;

}

.breadcrumb{

	background:transparent;

	border-radius:0px;

	padding:0px 0;

	display:inline-block;

	margin:0;

}

.breadmain h3{

	color: #000;

    font-size: 16px;

	text-transform:uppercase;

	float:right;

	display:inline-block;

	margin:0px;
	padding-top: 20px;

}

.breadcrumb > li a{

	color: #444;

    font-size: 16px;

	text-transform:uppercase;

}

.breadcrumb > li a:hover{

	color:#f15b4a;

}

.breadcrumb > li {

	text-shadow: none;

	padding: 0 0px;

	position: relative;

	white-space: nowrap;

	font-size: 15px;

}

.breadcrumb > li:last-child a{

	color:#ff1493;

}

.breadcrumb > li + li:before {

	padding: 0 0px;

  color: #000;

  content: "/\00a0";

}

.breadcrumb > li:after {

	content: '';

	display: block;

	position: absolute;

	top: -3px;

	right: -5px;

	width: 26px;

	height: 26px;

	/*border-right: 1px solid #DDD;

	border-bottom: 1px solid #DDD;

	-webkit-transform: rotate(-45deg);

	-moz-transform: rotate(-45deg);

	-o-transform: rotate(-45deg);

	transform: rotate(-45deg);*/

}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {

	background-color: #ff1493;

	border-color: #ff1493;

	color: #fff;

	cursor: default;

	z-index: 2;

}

.pagination > li > a, .pagination > li > span {

	background-color: #fff;

	border: 1px solid #ddd;

	color: #555555;

	float: left;

	font-size: 16px;

	line-height: 1.42857;

	margin-left: 4px;

	padding: 6px 12px;

	position: relative;

	text-decoration: none;

	border-radius:4px;

}



.main-heading {

    margin: -60px 0 30px;

    text-align: center;

    text-transform: uppercase;

}

.entry-title {

  background: #ff1493;

  color: #ffffff;

  font-family: 'Poppins', sans-serif;

  font-size: 18px;

  font-weight: 500;

  line-height: 1.09091;

  margin: 0px 0 8px;

  padding: 13px 18px;

  text-transform: capitalize;

}

.about_us > p {

	color: #555;

	font-size: 14px;

	line-height: 28px;

	margin-bottom: 22px;

	text-align: justify;

}

/*-------------------------------

buttons css

--------------------------------*/

.buttons {

	margin: 1em 0;

}

.btn {

	padding: 7.5px 12px;

	font-size: 12px;

	border: 1px solid #cccccc;

	border-radius: 4px;

	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

}

.btn-xs {

	font-size: 9px;

}

.btn-sm {

	font-size: 10.2px;

}

.btn-lg {

	padding: 10px 16px;

	font-size: 15px;

}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {

	font-size: 12px;

}

.btn-group > .btn-xs {

	font-size: 9px;

}

.btn-group > .btn-sm {

	font-size: 10.2px;

}

.btn-group > .btn-lg {

	font-size: 15px;

}

.btn-default {

	color: #777;

	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

	background-color: #e7e7e7;

	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);

	background-repeat: repeat-x;

	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;

}

.btn-primary {

	color: #ffffff;

	text-shadow: none;

	box-shadow: none;

	background-color: #ff1493;

	background-image: linear-gradient(to bottom, #ff1493, #ff1493);

	background-repeat: repeat-x;

	border-color: #ff1493;

	border-radius:0px;

}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{

	outline:none;

}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {

	background-color: #ff1493;

	background-position: 0;

	border-color:#ff1493;

	color:#fff;

}

.btn-warning {

	color: #ffffff;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	background-color: #faa732;

	background-image: linear-gradient(to bottom, #fbb450, #f89406);

	background-repeat: repeat-x;

	border-color: #f89406 #f89406 #ad6704;

}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {

	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

}

.btn-danger {

	color: #ffffff;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	background-color: #da4f49;

	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);

	background-repeat: repeat-x;

	border-color: #bd362f #bd362f #802420;

}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {

	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

}

.btn-success {

	color: #ffffff;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	background-color: #5bb75b;

	background-image: linear-gradient(to bottom, #62c462, #51a351);

	background-repeat: repeat-x;

	border-color: #51a351 #51a351 #387038;

}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {

	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff1493;
    background-image: linear-gradient(to bottom, #ff1493, #ff1493);
    background-repeat: repeat-x;
    border-color: #ff1493 #ff1493 #ff1493;
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}

.btn-link {

	border-color: rgba(0, 0, 0, 0);

	cursor: pointer;

	color: #23A1D1;

	border-radius: 0;

}

.btn-link, .btn-link:active, .btn-link[disabled] {

	background-color: rgba(0, 0, 0, 0);

	background-image: none;

	box-shadow: none;

}

.btn-inverse {

	color: #ffffff;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	background-color: #363636;

	background-image: linear-gradient(to bottom, #444444, #222222);

	background-repeat: repeat-x;

	border-color: #222222 #222222 #000000;

}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {

	background-color: #222222;

	background-image: linear-gradient(to bottom, #333333, #111111);

}

/*-------------------------------

list-group css

--------------------------------*/

.list-group a {

	border: 1px solid #DDDDDD;

	color: #888888;

	padding: 10px 12px;

}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {

	color: #444444;

	background: #eeeeee;

	border: 1px solid #DDDDDD;

	text-shadow: 0 1px 0 #FFF;

}

/*-------------------------------

carousel css

--------------------------------*/

.carousel-caption {

	color: #FFFFFF;

	text-shadow: 0 1px 0 #000000;

}

.carousel-control .icon-prev:before {

	content: '\f053';

	font-family: FontAwesome;

}

.carousel-control .icon-next:before {

	content: '\f054';

	font-family: FontAwesome;

}

.list-grid{

	margin-top:0;

	font-size:30px;

}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group{

	margin-left:3px;

	box-shadow:none;

}



.hr1{

	margin:5px 0 24px;

}

/*-------------------------------

Propeties css

--------------------------------*/

.btngrid{

	-moz-user-select: none;

    background-image: none;

    border: 1px solid hsla(0, 0%, 0%, 0);

    border-radius: 4px !important;

    cursor: pointer;

    display: inline-block;

    font-size: 14px !important;

    font-weight: normal;

    line-height: 1.42857;

    margin-bottom: 0;

    padding: 6px 12px;

    text-align: center;

    vertical-align: middle;

    white-space: nowrap;

}

.pro-heading,.des{

	display:none;

}

.product-thumb {

	background: #e8e8e8;

	margin-bottom: 20px;

	overflow: auto;

}

.product-thumb .image {

	text-align: center;

}

.product-thumb .image a {

	display: block;

}

.product-thumb .image a:hover {

	opacity: 1;

}

.product-thumb .image img {

	margin-left: auto;

	margin-right: auto;

}

.product-grid .product-thumb .image {

	float: none;

}

.cate2 .options li{
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 11px 14px;
}

.cate2 .options li:nth-child(3){

	padding:10px 13px;

}

.cate2 .options li:last-child{

	border:none;

}

.cate2 .options{

	background:#444;

	margin:0;

	height:45px;

}

.cate2 .featured_product .price{

	font-weight:400;

	color:#fff;

}

.cate2 .caption .fa{

	color:#fff;

}

.cate2 .featured_product{

	min-height:170px;

	padding:5px 15px;

}

.cate2 .caption .features{

	font-size:15px;

	color:#868686;

	line-height:25px;

}

.cate2 .latest_main .product-thumb{

	border:none;

}

.cate2  .lastpart button{

	background:none;

	border:none;

}

.cate2  .lastpart .fa{

	color:#444;

	font-size:18px;

}
.cate2 .apart li{color:#fff;}

.cate2  .lastpart li:nth-child(2),.cate2  .lastpart li:nth-child(3),.cate2  .lastpart li:nth-child(4){

	float:right;

}

.cate2  .lastpart li:nth-child(4){

	padding:15px 20px;

}

.cate2  .lastpart li:nth-child(2){

	padding-right:0px;

}

.cate2  .lastpart li:first-child{

	border:none;

	padding-left:0px;

}

.cate2  .lastpart li{

	border-left:1px solid #ddd;

	padding:15px 10px;

}

.cate2  .lastpart{

	padding:0px 15px;

	margin:0;

	min-height:50px;

}

.cate3 .lastpart{

	border-bottom:1px solid #ddd;

}

.cate3 .featured_product .price .text{

	color:#fff;

}

.cate3 .featured_product .price{

	font-weight:bold;

	background:transparent;

	text-align:center;

}

.cate3 .featured_product h4{

	padding:0px 15px;

	min-height:36px;

}

.cate3 .featured_product{

	padding:0px;

	border:none;

	min-height:422px !important;

}

.cate3 .features{

	margin:0;

}

.cate3 .features li{

	padding:10px 0px;

	color:#868686;

	border-bottom:1px solid #e6e6e6;

}

.cate3 .features li ul li{

	border:none;

	padding:0 1px;

}

.cate3 .caption .features{

	font-size:13px;

}

.cate3 .features li ul li{
	width:25px;

	margin: 0px 5px;
}

.cate3 .product-thumb{

	border:1px solid #ff1493 !important;

}

.cate3 .apart{

	background:#ff1493;

	text-align:center;

	font-size:18px;

	padding:15px 0;

	margin:0;

}

.cate3 .options{

	text-align:center;

	padding:10px 0;

}

@media (min-width: 767px) {



.product-list .product-thumb .image {

	float: left;

	padding: 0 0px;

	width:40%;

}

}

.product-list .caption .des{

	display: block;

    font-size: 14px;

    line-height: 25px;

	text-align:left;

}

.latest_product{

	background: #f7f7f7;

}

.latest_product_heading {

	background: #f7f7f7 none repeat scroll 0 0;

	border-top: 2px solid #ff1493;

	margin: 40px 0 20px;

}

.latest_product_heading h3 {

	background: #ff1493 none repeat scroll 0 0;

	color: #ffffff;

	display: inline-block;

	font-size: 20px;

	font-weight: 600;

	height: 40px;

	margin: 0;

	padding: 10px 18px;

	text-transform:capitalize;

	line-height:18px;

}

.triangle {

	background: #ff1493 none repeat scroll 0 0;

	display: inline-block;

	height: 40px;

	margin-left: -20px;

	-ms-transform: skew(35deg);

	-webkit-transform: skew(35deg);

	-moz-transform: skew(35deg);

	-o-transform: skew(35deg);

	transform: skew(35deg);

	vertical-align: bottom;

	width: 35px;

}

.triangle::after {

	border-right: 2px solid #fff;

	content: "";

	display: block;

	height: 40px;

	position: absolute;

	right: 0px;

	top: 0;

	-ms-transform: rotate(0deg);

	-webkit-transform: rotate(0deg);

	-moz-transform: rotate(0deg);

	-o-transform: rotate(0deg);

	transform: rotate(0deg);

	width: 26px;

}

.latest_product .single {

	margin-left: -10px;

}

.single {

	background: #ff1493 none repeat scroll 0 0;

	display: inline-block;

	height: 40px;

	margin-left: -7px;

	-ms-transform: skew(35deg);

	-webkit-transform: skew(35deg);

	-moz-transform: skew(35deg);

	-o-transform: skew(35deg);

	transform: skew(35deg);

	vertical-align: bottom;

	width: 2px;

}

.single::after {

	border-right: 2px solid #fff;

	content: "";

	display: block;

	height: 40px;

	position: absolute;

	right: 0px;

	top: 0;

	-ms-transform: rotate(0deg);

	-webkit-transform: rotate(0deg);

	-moz-transform: rotate(0deg);

	-o-transform: rotate(0deg);

	transform: rotate(0deg);

	width: 2px;

}



.latest_main .product-thumb,.cate2 .product-thumb{

	background: #fff none repeat scroll 0 0;

	margin-bottom:30px;

	border:1px solid #e5e5e5 !important;

}

.caption{

	text-align:left;

}

.caption  h4 a{

	color:#444;

	font-size:20px;

	font-weight:600;

	text-align:left;

}

.text{

	font-weight:600;

	font-size:14px;

	color:#333333;

	padding-right:5px;

}

.featured_product .price {

	background: #fff none repeat scroll 0 0;

	color: #000;

	display: inline-block;

	font-size: 18px;

	font-weight: bold;

	margin: 0px 0 7px;

	padding: 0px;

}

.product-thumb .caption {

	padding:0px;

	min-height:auto;

	text-align:left;

}

.latest_main .featured_product{

	padding: 5px 10px;

	text-align: left;

	border-bottom:1px solid #DCDCDC;

	min-height:250px;

}

.caption .product_button {

	background: #555555 none repeat scroll 0 0;

	border: medium none;

	color: #ffffff;

	display: inline-block;

	font-size: 14px;

	font-weight: bold;

	margin: 6px 5px;

	padding: 5px 10px;

}

.productname,.des{

	display:none;

}

.product-list .product-thumb .caption {

	margin-left: 40%;

	text-align:left;

}

.product-list .product-thumb .price{

	margin:6px 5px 6px 0;

}

.product-list .product-thumb {

    background: hsl(0, 0%, 100%) none repeat scroll 0 0 !important;

}

@media (max-width: 1200px) {

.product-grid .product-thumb .caption {

	min-height: auto;

	padding:5px 15px;

	text-align:center;

}

}

@media (max-width: 767px) {

.product-list .product-thumb .caption {

	min-height: 0;

	margin-left: 0;

	padding: 0 10px;

}

.product-grid .product-thumb .caption {

	min-height: 0;

}

}

.product-thumb .rating {

	padding-bottom: 10px;

}

.rating .fa-stack {

	font-size: 8px;

}

.rating .fa-star-o {

	color: #999;

	font-size: 15px;

}

.rating .fa-star {

	color: #FC0;

	font-size: 15px;

}

.rating .fa-star + .fa-star-o {

	color: #E69500;

}

h2.price {

	margin: 0;

}

.sqft ul li{

	color:#000;

	font-weight:600;

	font-size:14px;

	padding:0 10px;

}

.sqft .text{

	padding-right:20px;

}

.sqft ul,.amenities ul,.nearest ul{

	display:inline-block;

	margin:0 0 15px;

}

.amenities .text,.nearest .text{

	font-weight:bold;

}

.caption .product_button {

	background: #555555 none repeat scroll 0 0;

	border: medium none;

	color: #ffffff;

	display: inline-block;

	font-size: 14px;

	font-weight: bold;

	margin: 8px 15px;

	padding: 5px 15px;

	float:right;

}

.fa-share-alt-square{

	float:left;

	color:#858585;

	margin:10px 15px;

	font-size:25px !important;

	background:#fff;

	cursor:pointer;

}

.latest_main .sale { 

	color: white;

	font-size: 11px; 

	text-align: center;

	text-transform: uppercase;

	right:16px;

	top:15px;

	position: absolute; 

	width: 110px; 

	height: 56px; 

	border-left: 30px solid transparent; 

	border-top: 30px solid #ff1493; 

	border-right: 30px solid #ff1493; 

	border-bottom: 30px solid #ff1493; 

}

.latest_main .sale > span {

	color: #fff;

	font-size: 15px;

	font-weight: 600;

	left: auto;

    position: absolute;

    right:0;

    top: -12px;

}

.product-thumb:hover .price{

	color:#ff1493;

}

.product-thumb:hover .product_button{

	background:#ff1493;

}



.property_search .rotate_button {

	margin: 60px 0;

}

.property_search .rotate {

	border: 3px solid #ff1493;

	border-radius: 12px;

	cursor: pointer;

	display: inline-block;

	padding: 35px 34px;

	transform: rotate(41deg);

}

.property_search .rotate i {

	color: #ff1493;

	font-size: 40px;

	transform: rotate(-41deg);

}

.property_search .btn-gery {

	background-color: #555555;

	background-repeat: repeat-x;

	border: medium none;

	border-radius:0;

	color: #ffffff;

	font-size: 14px;

	font-weight: 300;

	padding: 7px 15px;

}

.property_search .rotate_button h3 {

	color: #444;

	font-size: 22px;

	margin-bottom: 12px;

	margin-top: 30px;

}

.property_search .rotate_button p {

	color: #909090;

	font-size: 14px;

	font-weight: 300;

	margin-bottom: 18px;

}

.rotate_button:hover .btn-gery {

	background-color: #ff1493;

	border-color: #ff1493;

}

.rotate_button:hover .rotate {

	background: #ff1493 none repeat scroll 0 0;

}

.rotate_button:hover .rotate i {

	color: #fff;

}



/*-------------------------------

property-detail css

--------------------------------*/

.listing{

	 background: #f5f5f5 none repeat scroll 0 0;

}

.listing-detail h3{

	font-size:18px;

	font-weight:bold;

	color:#666666;

	text-transform:uppercase;

	margin:0 0 15px;

}

.listing-detail h3{margin:0 0 20px;}

.listing-detail .form-control{

	min-height:50px;

	border-radius:0px;

	border:none;

	border-bottom:1px solid #B8B8B8;

}

.listing-detail .form-control::-moz-placeholder{

	color:#999999;

	font-size:16px;

}

.listing-detail .form-group{margin-bottom:30px;}

.listing-detail .btn-primary{

	background-color:#ff1493 !important;

	color:#fff;

	border-radius:0px !important;

	border:none;

	font-size:18px;

	font-weight:600;

	padding:14px 68px !important;

}

.listing-detail  .listdiv{margin-bottom:75px;}

.listing-detail  label{

	background-color:#ff1493;

	color:#fff;

	width:100%;

	height:52px;

	margin-bottom:0px;

	padding:15px 20px;

	font-family: 'Poppins', sans-serif;

	font-weight:bold;

}

.listing-detail .listmain{

	padding:0 0 45px;

	margin:0 0 38px;

}

.listing-detail{padding-bottom:45px;}

.listing-detail .map{

	border:1px solid #C1C1C1;

	padding:4px;

	margin-bottom:34px;

	pointer-events:none;

}

.listmain .listdiv .form-control{

	border-bottom: 1px solid #b8b8a8;

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

	color: #999999;

	font-size: 16px;

	line-height: 34px;

	padding: 6px 12px;

	width:100%;

}

.propage .price{

	margin-bottom:20px;

}

.propage .tab-content{

	border:1px solid #DDDDDD;

	padding:14px;

}

.propage .tab-content p{

	line-height:25px;

}

.propage .nav-tabs{

	margin-bottom:0px;

	border-bottom:0px;

}

.propage .nav-tabs > li a{

		color:#333;

}

.related .price .price-new{

	font-size:14px !important;

}

.related .price{

	margin-bottom:0px;

}

.propage .nav-tabs > li.active > a,.propage .nav-tabs > li.active > a:focus,.propage .nav-tabs > li.active > a:hover{

	border-radius:0px;

}

.propage .rating a{

	color:#333;

}

.propage .rating{

	margin-bottom:20px;

}

.propage h1{

	margin:0 0 15px;

}

.propage .btn-primary{

	border-radius:5px ;

	margin:20px 0 25px;

	border:none;

	text-transform:uppercase;

	background:#ff1493;

}

.propage .price-old {

	color: #999;

	text-decoration: line-through;

	margin-left: 10px;

	display: inline-block;

	font-size:16px;

}

.propage .price-new{

	font-size:20px;

}

.instock{

	float:right;

	font-size:16px;

}

.thumbnail{

	padding:0px;

	border-radius:0px;

	margin:0;

}

.thumbnails {

	overflow: auto;

	clear: both;

	list-style: none;

	padding: 0;

	margin: 0;

}

.thumbnails > li {

	margin-left: 20px;

}

.thumbnails {

	margin-left: -20px;

}

.thumbnails > img {

	width: 100%;

}

.image-additional a {

	margin-bottom: 0px;

	padding: 0px;

	display: block;

	border: 1px solid #ddd;

}

.image-additional {

	max-width: 78px;

}

.thumbnails .image-additional {

	float: left;

	margin-left: 20px;

}

.cate_heading {

	padding: 10px 0px;

	margin-bottom: 24px;

}

.cate_heading_inner {

	padding: 0;

}

.cate_heading h2 {

	color: #555555;

	display: inline-block;

	font-size: 20px;

	font-weight: 600;

	margin: 0;

}

.cate_inner .control-label {

	display: inline-block;

}

.cate_inner {

	padding:0;

}

.cate_inner .form-control {

	border-radius: 0;

	display: inline-block;

	height: auto;

	padding: 5px 0;

	width: auto;

}

#content .latest_product_heading .bootstrap-select.form-control:not([class*="col-"]){

	width:auto !important;

}

.bootstrap-select .btn-default{

	background-color:#fff;

	background-image:none;

	box-shadow:none;

	border-color:hsl(0, 0%, 80%);

}



/*product page*/.thumb{

	margin-bottom:40px;

	margin-left:0px;

}

.listing-caption .tags li:first-child{

	padding-left:0px;

}

.listing-caption .tags li{

	padding:0px 10px;

}

.listing-caption .tags{

	margin:40px 0;

}

.listing-caption .tags a{

	color:#333333;

	font-size:16px;

	padding:10px 20px;

	background:#F5F5F5;

}

.listing-caption p{
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	color: #444;
	margin-bottom: 30px;
}

.listing-caption h3{

	border-bottom:1px solid #ddd;

	padding-bottom:20px;

	font-size:18px;

	color:#444;

	font-weight:600;

	margin:0 0 20px;

	text-transform: capitalize;

}

.listing-caption .feat li img{

	display:inline-block;

	margin:0 10px;

}

.listing-caption .feat{

	padding:10px;

}

.listing-caption .feat li{
	width:48%;
	margin-bottom:40px;
    color: #909090;
    vertical-align: bottom;
    padding-left: 5px;
    font-size: 13px;
    text-transform: capitalize;
	font-weight:600;
}
.bed_area li span{
    color: #909090;
    vertical-align: bottom;
    padding-left: 5px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
}
.listing-caption h4{

	margin:10px 0 20px;

}

.listing-caption h4 a{

	font-size:20px;

	color:#000;

	font-weight:600;

}

.listing-caption .sqft li{

	font-size:20px;

	color:#000;

	font-weight:600;

}

.listing-caption .sqno{

	font-size:20px;

	color:#000;

	font-weight:400;

}

.listing-caption .price{

	border-bottom:1px solid #ddd;

	font-size:24px;

	color:#ff6666;

	font-weight:600;

	margin-bottom:20px;

	padding-bottom:20px;

}

.listing-caption .text{

	font-size:20px;

	color:#000;

	font-weight:600;

}

.listing-caption{
 /*2/11/2018*/
	background:#fff;
	padding:22px;
    box-shadow: 0px 2px 4px 3px #dddddd;
	margin-bottom:40px;
	min-height:200px;
}
.listing-caption1,.listing-caption2{
    background: #F5F5F5;
    padding:22px 7px;
    box-shadow: 0px 2px 4px 3px #dddddd;
	margin-bottom:40px;
	min-height:200px;
}

.list-detail1{
	background:#f5f5f5;

}

#additional .item img{

	margin:0 auto;

}

#additional{

	position:relative;

	width:100%;

	background:rgba(255,255,255,0.5);
    /*2/11/2018*/
	padding:15px 0 10px;

	margin-top:0%;
    /*2/11/2018*/
	margin-bottom:0px !important;

}

#additional .owl-prev .fa:hover,#additional .owl-next .fa:hover,#additional1 .owl-prev .fa:hover,#additional1 .owl-next .fa:hover{

	color:#ff6666;

}

#additional .owl-prev .fa,#additional .owl-next .fa,#additional1 .owl-prev .fa,#additional1 .owl-next .fa{

	color:#666;

	font-size:23px;

}

#additional .owl-prev,#additional1 .owl-prev{

	position:absolute;
 /*2/11/2018*/
	left:-8px;

	top:45%;

}

#additional .owl-next,#additional1 .owl-next{

	position:absolute;
 /*2/11/2018*/
	right:-8px;

	top:45%;

}

#additional .owl-buttons div{

	opacity:1;

}





/* fixed colum left + content + right*/

@media (min-width: 768px) {

    #column-left  .product-layout .col-md-3 {

       width: 100%;

    }



	#column-left + #content .product-layout .col-md-3 {

       width: 50%;

    }



	#column-left + #content + #column-right .product-layout .col-md-3 {

       width: 100%;

    }



    #content + #column-right .product-layout .col-md-3 {

       width: 100%;

    }

}



/* fixed product layouts used in left and right columns */

#column-left .product-layout, #column-right .product-layout {

	width: 100%;

}



/* fixed mobile cart quantity input */

.input-group .form-control[name^=quantity] {

	min-width: 50px;

}



/* Missing focus and border color to overwrite bootstrap */

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {

    background-image: none;

    background-color: #df5c39;

}



/*-------------------------------

agent css

--------------------------------*/

.agentbox .list-group-item{

	border-radius:0px;

}

.agentbox .list-group-item:hover{

	color:#ff1493 !important;

}

.agentbox .list-group-item .fa{
	width:20px;
}

.agentbox .list-group-item{

	color:#444;

	font-size:14px;

}

.agentbox h3{

	background:#ff1493;

	color:#fff;

	padding:10px 5px;

	margin:0;

	font-size:16px;

	text-transform:uppercase;

	font-weight:bold;

}

.ouragent_detail .image img{

	border-radius:0px !important;

	margin:0 auto;

}

.ouragent_detail .boxs{

	margin-bottom:30px;
	min-height: 310px;

}

.ouragent_detail .boxs .image{

	background:#b7bfc3;

}

.ouragent_detail .deatil{

	background:#ff1493;

	text-align:center;

	padding:32px 0 15px;

}

.ouragent_detail .name{

	color: #fff !important;
	font-weight: bold !important;
	font-size: 16px !important;
	margin: 0 0 10px !important;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;

}

.ouragent_detail .socialicon{

	background:#ff1493;

	height:45px;

	text-align:center;

	position:absolute;

	padding: 12px 8px;

	margin:-22.5px auto 0;

	left:30px;

	right:30px;
	border-bottom: 1px solid #fff;

}

.ouragent_detail .socialicon .fa{

	color:#fff;

	font-size:16px;

	font-weight:bold;

}

.ouragent_detail .property{

	color:#fff;

	font-size:15px;

	text-transform:capitalize;

}

.agent img{

	border-radius:50%;

	margin:0 auto;

}

.agent .desg{

	color:#666666;

	font-size:18px;

	font-weight:300;

	margin-bottom:10px;

}

.agent .comment{

	color:#666666;

	font-size:14px;

	font-weight:300;

	margin-bottom:10px;

	text-align:center;

	line-height:23px;

	min-height:70px;

}

.agent .item a{

	color:#000;

	font-size:14px;

}

.agent .item:hover .name,.agent .item:hover a{

	color:#ff1493;

}

.agent .item:hover{

	-webkit-box-shadow: 1px 4px 6px 4px rgba(239,239,239,0.68);

-moz-box-shadow: 1px 4px 6px 4px rgba(239,239,239,0.68);

box-shadow: 1px 4px 6px 4px rgba(239,239,239,0.68);

}

.agent .owl-prev .fa:hover,.agent .owl-next .fa:hover{

	background:#ff1493;

}

.agent .owl-prev .fa,.agent .owl-next .fa{

	background:#35383E;

	font-size:20px;

	color:#fff;

	border-radius:50%;

	padding:4px 12px 4px 9px;

}

.agent .owl-next .fa{

	padding:4px 9px 4px 12px;

}

.agent .owl-prev{

	left:10px;

	position:absolute;

	top:-18% !important;

}

.agent .owl-carousel .owl-buttons div{

	opacity:1;

}

.agent .owl-next{

	right:10px;

	position:absolute;

	top:-18% !important;

}

.agent .item{

	padding:25px 0px;

	margin-bottom:15px;

}

#agents{

	margin:0;

}

.agent .view a:hover{

	color:#ff6666;

}

.agent .view a{

	color:#000;

	text-decoration:underline;

}

.agent .name{

    color: #444;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 5px;
    text-transform: capitalize;

}

.agent{

	padding-top:20px;

	text-align:center;

	margin-bottom:30px;

}

.agent hr{

	border-color:#35383E;

	width:91%;

	margin:-22px auto 50px;

}

.agent h3 span{

	color:#35383E;

	font-weight:bold;

	font-size:24px;

	padding:5px 25px;

	background:#fff;

}

.agent h3{

	text-align:center;

}

.ouragent,.ouragents{

	background:#fff;

	padding:20px 0 10px;

}

.ouragents .ouragent_detail{

	padding:0 15px;

	min-height:100px;

}

#contactnow .form-control{

	border-radius:0px;

}

#contactnow .close{

	opacity:1;

}

#contactnow h4{

	color:#000;

	font-size:16px;

	padding-bottom:20px;

	margin:20px 0;

	border-bottom:1px solid #ddd;

}

#contactnow .modal-content{

	padding:15px;

	border-radius:0px;

}

.ouragents .contactnow{

	background:#ff1493;

	width:100%;

	padding:15px 10px;

	color:#fff;

	text-transform:uppercase;

	font-size:18px;

	text-align:center;

	font-weight:bold;

	margin-top:20px;

	cursor:pointer;

}

.ouragents h2{

	color:#000;

	margin:0 0 20px;

	border-bottom:1px solid #ddd;

	font-size:22px;

	padding:0 0 20px 15px;

}

.ouragent .image a{

	color:#ff6666;

}

.ouragent .image{

	text-align:center;

	float:left;

	margin-right:10px;

}

.ouragent .agentprofile{

	padding:10px;

	min-height:145px;

	border-bottom:1px solid #E9E9E9;

}

.ouragent .image  img{

	width:92px;

	height:92px;

	margin:0 auto 5px;

	text-align:center;

	border-radius:100%;

}

.ouragent .name{

	color:#ff6666 !important;

	font-size:16px !important;

	display:inline-block;

}

.agentview .agentbox{

	border-bottom:1px solid #ddd;

	margin-bottom:10px;

	padding-bottom:20px;

}

.nopro{

	padding:10px;

	text-align:center;

	font-size:18px;

	text-transform:uppercase;

}

.agentview .position{

	color:#000;

	font-size:16px;

}

.agentview{

	border:1px solid #ddd;

	padding:15px;

}

.agentview h4{

	color:#ff6666;

	font-size:18px;

}

.ouragent .comment{

	color:#666;

	font-size:12px;

	margin-top:5px;

	font-weight:300;

	line-height:21px;

}

.ouragent .desg{

	color:#666666;

	font-size:14px;

}

.ouragent h2{

	text-align:center;

	color:#fff;

	font-weight:bold;

	font-size:24px;

	background: #ff1493;

	padding:10px 0;

	margin-top:0;

}



.boxs .image{

	position:relative;

	overflow:hidden;

	-webkit-animation:anima 2s;

	-moz-animation:anima 2s;

	-o-animation:anima 2s;

	-ms-animation:anima 2s;

	animation:anima 2s;

	-webkit-backface-visibility:hidden;

	-moz-backface-visibility:hidden;

	-o-backface-visibility:hidden;

	-ms-backface-visibility:hidden;

	backface-visibility:hidden

}

.boxs:hover .image img{ 

    background:rgba(0,0,0,0.7);

}

.hoverbox{

	cursor:default;

	position:absolute;

	width:100%;

	height:100%;

	 background:rgba(0,0,0,0.4);

	text-align:center;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";

	filter:alpha(opacity=0);

	-moz-opacity:0;

	-khtml-opacity:0;

	opacity:0;

	top:0;

	

}

.boxs:hover .hoverbox,.boxs:hover .hoverbox .fa-plus{

	-webkit-transition:all 1.5s ease;

	-moz-transition:all 1.5s ease;

	-o-transition:all 1.5s ease;

	-ms-transition:all 1.5s ease;

	transition:all 1.5s ease;

	opacity:1;

}



.fa-plus {

  color:#ff1493;

  font-size:40px;

  opacity: 0;

  position: absolute;

  top: 50%;

  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;

  transition: opacity 0.35s, transform 0.35s;

  -webkit-transform: translate3d(-50%,-50%,0);

  transform: translate3d(-50%,-50%,0);

  -webkit-transform-origin: 50%;

  -ms-transform-origin: 50%;

  transform-origin: 50%;

  cursor:pointer;

}



.agentss .agents{

    padding:0 0 80px;

}

.agentss .agents .owl-prev, .agentss .agents .owl-next{

    top: -32%;

}

.agentss .box .image{

    position:relative;

    overflow:hidden;

    -webkit-animation:anima 2s;

    -moz-animation:anima 2s;

    -o-animation:anima 2s;

    -ms-animation:anima 2s;

    animation:anima 2s;

    -webkit-backface-visibility:hidden;

    -moz-backface-visibility:hidden;

    -o-backface-visibility:hidden;

    -ms-backface-visibility:hidden;

    backface-visibility:hidden;

}

.agentss .box .image img{

    width:100%;

    height:auto;

    border-radius:0;    

}

.agentss .hoverbox{

    cursor:default;

    position:absolute;

    width:100%;

    height:100%;

    background:rgba(0,0,0,0.7);

    text-align:center;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";

    filter:alpha(opacity=0);

    -moz-opacity:0;

    -khtml-opacity:0;

    opacity:0;

    top:0;

}

.agentss .box:hover .hoverbox, .agentss .box:hover .hoverbox .fa-plus{

    -webkit-transition:all 1.5s ease;

    -moz-transition:all 1.5s ease;

    -o-transition:all 1.5s ease;

    -ms-transition:all 1.5s ease;

    transition:all 1.5s ease;

    opacity:1;

}

.agentss .fa-plus {

  color:#ff1493;

  font-size:32px !important;

  opacity: 0;

  position: absolute;

  top: 50%;

  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;

  transition: opacity 0.35s, transform 0.35s;

  -webkit-transform: translate3d(-50%,-50%,0);

  transform: translate3d(-50%,-50%,0);

  -webkit-transform-origin: 50%;

  -ms-transform-origin: 50%;

  transform-origin: 50%;

  cursor:pointer;

}

.agentss .box .socialicon{

    background:#ff1493;

    height:43px;

    position:absolute;

    padding: 12px 13px;

    margin:-22.5px auto 0;

    left:10%;

    right:10%;

}

.agentss .box .socialicon li{

    padding:0 28px 0 0;

}

.agentss .box .socialicon li:last-child{

    padding:0 0px 0 0;

}

.agentss .box .socialicon .fa{

    color:#fff;

    font-size:16px;

    font-weight:bold;

}

.agentss .box .deatil{

    background:#1A1C28;

    text-align:center;

    padding:32px 0 15px;

}

.agentss .box .deatil h5{

    color:#fff;

    font-weight:600;

    font-size:18px;

    margin:0 0 10px;

}

.agentss .box .deatil .name,.agentss .box .deatil .property{

    color:#fff;

    font-size:14px;

    font-weight:600;

}

.agentss .latest_product_heading a{
	 background: #f7f7f7 none repeat scroll 0 0;

    border: 1px solid #cccccc;

    color: #868686;

    float: right;

    padding: 9px 18px;

    text-transform: uppercase;
}

.agentss .latest_product_heading h3::after {

    border-bottom: 3px solid #ff1493;

    content: "";

    left: 0;

    position: absolute;

    top: 46px;

    width: 100px;

}

.agentss .latest_product_heading{
	border-top:none;

	background:none;
}

.agentss .latest_product_heading h3 {

    background: transparent none repeat scroll 0 0;

    color: #000;

    font-size: 24px;

    font-weight: 700;

    height: auto;

    margin: 0;

    padding: 0 0 20px;

    position: relative;

    text-transform: uppercase;

}

.smartsearch .property_search .rotate_button {

    margin: 80px 0;

}

.smartsearch .property_search .round {

    margin:0 auto;

    width: 150px;

    height: 150px;

    border: 5px solid;

    border-color:#ff1493 #fff #ff1493 #ff1493;

    background: #fff;

    border-radius: 50%;

}

.smartsearch .property_search .round1{

    border-color:#ff1493 #ff1493 #fff #ff1493;

}

.smartsearch .property_search .round2{

    border-color:#ff1493 #ff1493 #ff1493 #fff;

}

.smartsearch .property_search .col-sm-4:nth-child(2) .round img {

    padding: 18px 12px;

}

.smartsearch .property_search .round img {

    border: 1px solid #ECECEC;

    background:#F5F5F5;

    border-radius: 50%;

    margin: 22px auto;

    padding: 18px 20px;

}

.smartsearch .property_search .rotate_button h3 {

    color: #444;

    font-size: 20px;

    font-weight: 600;

}

.smartsearch .property_search .btn-gery{

    background:#ff1493;

    border:1px solid #ff1493;

    color:#fff;

}

.smartsearch .rotate_button:hover .btn-gery{

    background:#ff1493;

    border:1px solid #ff1493;

    color:#fff;

}
/*new code 2/11/2018*/

.bed_area li{
    padding: 15px 15px 15px 15px;
    background: #fff;
    margin-bottom: 20px;
    color: #909090;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
    width:45%;
    margin: 0 15px 20px;
}
.right-sidebar-main {
    box-shadow: 0px 2px 4px 3px #dddddd;
    padding:5px 20px 20px;
    margin: 0;
    width: 100%;
}
.listing-caption2 li{
    color: #444;
}
.right-sidebar-main .heading-search {
    height: 46px;
    margin: 20px 0 0;
    position: relative;
}
.right-sidebar-main .heading-search h1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 0;
    padding: 0px 0 2px 20px;
    text-transform: uppercase;
    width: 200px;
    background: #ff1493;
	color: #fff;
    line-height: 40px;
    font-weight: 700;
}
.margin0{
    margin: 0;
}
.right-sidebar-main .agentinfo .name{
    color: #333;
    font-size: 18px;
    text-transform: capitalize;
    font-size-adjust: 0.5;
    line-height: 22px;
}
.right-sidebar-main .agentinfo .detail{
    margin-left: 110px;
}
.right-sidebar-main .agentinfo .desg{
    color: #333;
    font-size: 15px;
    text-transform: capitalize;
    font-size-adjust: 0.5;
    line-height: 22px;
}
.right-sidebar-main .agentinfo .comment{
    color: #333;
    font-size: 14px;
    font-size-adjust: 0.5;
    line-height: 22px;
}
.right-sidebar-main .agentinfo{
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
.right-sidebar-main .agentinfo .image{
    float: left;
    margin-right: 15px;
}
.right-sidebar-main .agentinfo .image img{
    border:1px solid #ddd;
    border-radius: 50%;
}
.right-sidebar-main .radius {
    border-style: solid;
    border-color: transparent transparent transparent #ff1493;
    border-width: 42px 0 0 62px;
    height: 0;
    left: 200px;
    position: relative;
    top: -42px;
    width: 0;
}
.listing .thumb ul li b{
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	color: #444;
	font-size-adjust: 0.5;
	text-transform: capitalize;
}
.listing .thumb ul li .price-amount{
    line-height: 22px;
    font-size: 18px;
    color: #ff1493;
    font-size-adjust: 0.5;
}
.listing .thumb .property-title a{
    font-size: 20px;
    font-weight: 600;
    color: #444;
}
.listing .thumb .property-title{
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 0px;
    margin-top: 0;
    line-height: 40px;
    font-weight: 700;
    font-size-adjust: 0.5;
}
.listing .thumb{
    padding: 22px;
    box-shadow: 0px 2px 4px 3px #dddddd;
    background: #fff;
    margin-bottom: 40px;
}
/*new code 2/11/2018*/

/*------------

responsive

--------------*/

@media (max-width:1180px){
    .bed_area li{
        width: 42%;
    }
    .listing-caption .feat li{
        width:30%;
    }
	.ourgallery .owl-prev,.ourgallery .owl-next{

		top:-40% ;

	}

	.caption h4 a{

		font-size:16px;

	}

	.search-panel li{

		font-size:12px;

	}

	.latest_main .featured_product{

		padding:5px;

	}

	.sqft ul li{

		padding:0 5px;

	}

	.advance-search .search-panel li img{

		margin:0;

	}

	.advance-search .list-group.listing .search-panel li{

		font-size:11px;

	}

	.has-pretty-child span{

		margin:0px;

	}

	#additional{

		margin-top:-15.5%;

	}

}

@media(max-width:1000px){
    .bed_area li{
        width: auto;
    }
    .listing-caption .feat li{
        width:auto;
    }
    .right-sidebar-main{
        padding: 5px 10px 20px;
    }
    .latest_product_heading h3{ font-size: 15px;}
    .right-sidebar-main .heading-search h1{
        font-size: 15px;
        padding: 0px 0 2px 10px;
        width: 150px;
    }
    .right-sidebar-main .radius{
        border-width: 42px 0 0 43px;
        left: 150px;
    }
    .right-sidebar-main .agentinfo .image{
        float: none !important;
        margin: 0 0 15px;
    }
     .right-sidebar-main .agentinfo .image img,.right-sidebar-main .agentinfo .detail{
        margin:0 auto;
         text-align: center;
    }
    .right-sidebar-main .agentinfo .name{
        font-size: 15px;
    }
    .right-sidebar-main .agentinfo .desg,.list-group.listing label{
        font-size: 12px;
    }
    .right-sidebar-main .agentinfo .comment{
        font-size: 10px;
        line-height: 18px;
    }
	.search-panel li{

		width:24%;

	}

	.search-panel li:nth-child(5), .search-panel li:nth-child(6), .search-panel li:nth-child(7){

		margin-bottom:0;

	}

	.ourgallery .owl-prev, .ourgallery .owl-next{

		top:-34%;

	}

	#additional,#additional1{

		position:relative !important;

	}

	footer .testimonial h5{

		font-size:14px;

	}

	footer .testimonial .fa{

		top:2px;

		right:2px;

	}

}

@media(max-width:767px){
    .listing .thumb .pull-right{
        float: none !important;
        float: none !important;
    }
    .bed_area li {
        width: 100%;
        margin: 0 0 15px;
    }
    .listing-caption1, .listing-caption2{
        padding: 22px 15px;
    }
	.srch5{
		margin:0px !important;
	}

	.common-home .headermain{
		position:relative;
	}

	.header5 header,.header5 #top{
		background:#333;
	}

	.cate2 .options li{
		width:100%;
	}

	.cate2 .options{
		min-height:45px;

		height:auto;

		display:block;
	}

	#additional,#additional1{

		position:relative;

	}

	.header3 #top-links li,.header3 #top #top-links .pull-left li:last-child, .header3 #top #top-links .pull-right li:last-child{
		border:none !important;

		padding:10px 1px !important;
	}

	.search-panel li img{

		margin:0;

	}

	.list-group.listing .search-panel li{

		font-size:11px;

	}

	header .header_right li a{

		width:35px;

	}

	header .header_right .fb a{

		background-position:-7px 0;

	}

	header .header_right .fb:hover a{

		background-position: -7px -56px;

	}

	header .header_right .twitter a{

		background-position:-53px 0;

	}

	header .header_right .twitter:hover a{

		background-position: -53px -56px;

	}

	header .header_right .google a{

		background-position:-98px 0;

	}

	header .header_right .google:hover a{

		background-position: -98px -56px;

	}

	header .header_right .rss a{

		background-position:-144px 0;

	}

	header .header_right .rss:hover a{

		background-position: -144px -56px;

	}

	header .header_right .youtube a{

		background-position:-190px 0;

	}

	header .header_right .youtube:hover a{

		background-position: -190px -56px;

	}

	header .header_right .pintrest a{

		background-position:-234px 0;

	}

	header .header_right .pintrest:hover a{

		background-position: -234px -56px;

	}

	header .header_right .instagram a{

		background-position:-281px 0;

	}

	header .header_right .instagram:hover a{

		background-position: -281px -56px;

	}

	header .header_right .linkedin a{

		background-position:-327px 0;

	}

	header .header_right .linkedin:hover a{

		background-position: -327px -56px;

	}

	header .header_right .golu a{

		display:none;

	}

	header .header_right .golu:hover a {

		display:none;

	}

	.main-form .form-group{

		margin-bottom:0px;

	}

	.main-form .form-group .form-control,.form-horizontal .bootstrap-select.btn-group{

		margin-bottom:10px !important;

	}

	.main-form .form-group label{

		margin:10px 0;

	}

	.indexmap iframe{

		height:1427px !important;

	}

	.search-panel li,.search-panel li:nth-child(6), .search-panel li:nth-child(7){

		width:100%;

		margin-bottom:10px;

	}

	#advsearch{

		bottom:-110px;

	}

	.ourgallery img{

		margin:0 auto;

	}

	.ourgallery .owl-prev, .ourgallery .owl-next{

		top:-35%;

	}

	.ourgallery h3 span,.latestblog h3 span{

		padding:5px 10px;

	}

	.breadcrumb{

		margin:15px 0;

		display:block;

	}

	.main-heading{

		margin:0 0 10px;

		text-align:left;

		padding-left:15px;

		font-size:20px;

	}

	#content .latest_product_heading .bootstrap-select.form-control:not([class*="col-"]){

		width:100% !important;

	}

	.listing-caption h4 a{

		font-size:15px;

	}

	.listing-caption h4{

		margin:10px 0;

	}

	.listing-caption .price{

		padding-bottom:10px;

		margin-bottom:10px;

	}

	.listing-caption .sqft li{

		font-size:16px;

	}

	.list-detail1 #additional1{

		width:auto;

		position:relative;

	}

	.listing-caption .feat li{

		width:100%;

		display:block;

		margin-bottom:10px;

	}

	.listing-caption p{

		line-height:25px;

		font-size:14px;

	}

	.listing-caption .tags li{

		min-height:50px;

		display:block;

	}

	.listing-caption .tags li:first-child{

		padding-left:10px;

	}

	#logo img{

		margin:0 auto;

	}

	.header_right{

		text-align:center !important;

	}

}

.listing .prettycheckbox a{

	background: rgba(0, 0, 0, 0) url("../image/check1.png") no-repeat scroll 0 0 !important;

    border: none;

    cursor: pointer;

    display: block;

    float: left;

    height: 19px;

    margin-right: 5px;

    position: relative;

    top: 5px;

    width: 21px;

	padding:0px;



}

.listing .prettycheckbox>a.checked {

    background: url("../image/check.png") no-repeat !important;

	 width: 21px;

}

.prettycheckbox>a.checked {

    background: url("../image/check.png") no-repeat;

}

.prettycheckbox>a.checked:focus {

   background: url("../image/check.png") no-repeat;

}

.tile {

    background-color: #279fe0;

    border-radius: 3px;

    color: #ffffff;

    margin-bottom: 15px;

    transition: all 1s ease 0s;

}

.tile-body {

    background: #fff none repeat scroll 0 0;

    box-shadow: 0 2px 5px 1px rgba(229, 230, 235, 1);

    color: #ffffff;

    line-height: 48px;

    min-height: 130px;

    padding: 30px 20px;

}

.tile .tile-body i {

    color: #000;

    font-size: 48px;

    opacity: 1;

    padding-top: 10px;

    transition: all 1s ease 0s;

}

.tile .tile-body h2 {

    color: #000;

    font-size: 30px;

    font-weight: 600;

    margin-top:0px;

}

.heading-text {

    font-size: 18px;

    font-weight: 300;

    text-transform: uppercase;

}

.recent {

    box-shadow: 0 2px 5px 1px rgba(229, 230, 235, 1);

}

.recent .panel-default {

    border: medium none;

}

.recent .table thead tr {

    background: #fff none repeat scroll 0 0;

}

.recent .table td img{
	border:1px solid #ddd;

	background:#fff;

	margin:0 auto;
}

.recent .table td {

    color: #000;

    font-size: 14px;

    font-weight: 600;

    padding: 19px 10px;

}

.recent .table tbody tr:nth-child(2n+1) {

    background: #f2f2f2 none repeat scroll 0 0;

}

.recent .table tbody tr:nth-child(2n) {

    background: #feebba none repeat scroll 0 0;

}

@media (max-width:1180px){

	.cate2 .options li{

		padding:11px 5px !important;

	}

}



.information-faq .wrap .item img{width:100%;}

.information-faq .wrap .item {margin:10px 0px;}



.information-faq  .entry-title {

    background: #ff1493;

    color: #ffffff;

    font-family: 'Poppins', sans-serif;

    font-size: 18px;

    font-weight: 500;

    line-height: 1.09091;

    margin: 10px 0 8px;

    padding: 13px 18px;

    text-transform: capitalize;

}



.header3 ul.megamenu > li > a{text-decoration:none;}



body{

    background-color: #f7f7f7;

}



#top #top-links .list-inline.pull-left li:first-child {

    border: none!important;

}

.search-panel a:hover{text-decoration:none!important;     color: #fff!important;}



.listing-map {

    margin-bottom: 20px;

}



.common-home .latest_main .product-thumb, .cate2 .product-thumb{border:none!important;}

.latest_main .featured_product{border-bottom:none!important;}



.view a{text-decoration:none;}



header{background:#fff;}



.main_link h3 {

    border-bottom: 1px solid #ddd;

    padding: 10px 0;

    width: 90%;

    text-transform: capitalize;

}



button#button-filter:hover {

    color: #fff;

}





/* stylesheet */

/* carousel */

#quote-carousel 

{

  padding: 0 10px 30px 10px;

  margin-top: 30px;

}
.related-listing .caption h4 a{
    font-weight: 400;
}
.related-listing h2{
    font-weight: 700;
    margin: 36px 0 12px;
    font-size:30px;
    line-height: 1.25em;
}
.related-listing .featured_product{
    margin-top: 15px;
    min-height: auto;
}
.related-listing .features li{
    margin: 6px 0px;
    color: #868686;
    font-size: 14px;
    text-transform: capitalize;
}
.related-listing .features li .fa {
    color: #ff1493;
    padding-right: 10px;
}
.related-listing {
    background-color: #eeeeee;
    padding: 5px;
}
.related-listing .related-title {
    margin-bottom: 25px;
    text-align: center;
}
.related-listing .border-title {
    border: 3px solid #ff1493;
    width: 25%;
    margin: 0 auto;
}


/* Control buttons  */

#quote-carousel .carousel-control

{

  background: none;

  color: #222;

  font-size: 2.3em;

  text-shadow: none;

  margin-top: 30px;

}

/* Previous button  */

#quote-carousel .carousel-control.left 

{

  left: -12px;

}

/* Next button  */

#quote-carousel .carousel-control.right 

{

  right: -12px !important;

}

/* Changes the position of the indicators */

#quote-carousel .carousel-indicators 

{

  right: 50%;

  top: auto;

  bottom: 0px;

  margin-right: -19px;

}

/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li 

{

  background: #c0c0c0;

}

#quote-carousel .carousel-indicators .active 

{

  background: #333333;

}

#quote-carousel img

{

  width: 250px;

  height: 100px

}

/* End carousel */



.item blockquote {

    border-left: none; 

    margin: 0;

}



.item blockquote img {

    margin-bottom: 10px;

}



.item blockquote p:before {

    content: "\f10d";

    font-family: 'Fontawesome';

    float: left;

    margin-right: 10px;

}



.testminial-view{background:#fff;}

.information-testimonial_view .entry-title{margin:40px 0px 0px;}





.information-testimonial_view .item p{

    font-size: 14px!important;

}



.common-home .owl-carousel{position: relative; z-index:0;}

.common-home .slider_search1{position: relative; z-index:9999999;top: -30px;}





.post1 .latest_main {

    height: 560px;

}



.cate32 .latest_main {

    height: 615px;

}





.cate32 .lastpart {

    padding: 0px 15px;

    margin: 0;

    min-height: 50px;

    border: 1px solid #ccc;

}



.cate32 .caption {

   

    border-left: 1px solid #ccc;

    border-right: 1px solid #ccc;

    border-bottom: 1px solid #ccc;

}



.post1 .lastpart {

    padding: 0px 15px;

    margin: 0;

    min-height: 50px;

    border: 1px solid #ccc;

}



.post1 .caption {

   

    border-left: 1px solid #ccc;

    border-right: 1px solid #ccc;

    border-bottom: 1px solid #ccc;

}





.gallary .images .texthover{text-transform:capitalize;}

/**

  MEDIA QUERIES

*/



/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) { 

    #quote-carousel 

    {

      margin-bottom: 0;

      padding: 0 40px 30px 40px;

    }

    

}
.photopage .list-group {

     margin-bottom: 0px;

 }

#additional .item img {
    cursor: pointer;
   
}
.form-set{min-height:400px;}

/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) { 
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {

        display: inline-block;

        margin: 0px 5px;

        width: 15px;

        height: 15px;

    }

    #quote-carousel .carousel-indicators li.active {

        margin: 0px 5px;

        width: 20px;

        height: 20px;

    }
	


}

@media(max-width: 768px){ 
  .form-set {
     min-height: 950px;
     clear: both;
    }
	.header3 ul.megamenu {
    float: none;
    text-align: left;
   }
 }

.myphotoimg{margin-bottom:30px;}
.agent_forget{padding:10px;}

.sqtt {
    background: url(../image/icons-grey/sqr.png);
    display: inline-block;
    width: 24px;
    height: 21px;
    margin-right: 10px;
    vertical-align: middle;
}

.img-responsive2{width:96%;}
#firstHeading{text-transform:capitalize;}


/* new css class */
.irs-from, .irs-to, .irs-single{
	
	    background: #ff1493!important;
}
.irs-diapason {
    background: #ff1493!important;
}

 ul.megamenu > li.with-sub-menu > a strong:after {
	 color:#ff1493;
	 
 }
ul.megamenu li .sub-menu .content .hover-menu .menu ul li:hover > a {

  color: #ff1493;

}

ul.megamenu > li > a:hover, 

ul.megamenu > li.active > a, 

ul.megamenu > li.home > a, 

ul.megamenu > li:hover > a {

		  color: #ff1493;

		 border-top: 2px solid #ff1493;

}

ul.megamenu li .sub-menu .content .hover-menu a.with-submenu:before {
	color: #ff1493;
	
}
.listing-caption2 h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 18px;
    color: #444;
    font-weight: 600;
    margin: 0 0 20px 15px;
    text-transform: capitalize;
}

.listing-caption1 h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 18px;
    color: #444;
    font-weight: 600;
    margin: 0 0 20px 15px;
    text-transform: capitalize;
}

.irs-slider.last {
    z-index: 2;
    border: 1px solid #ff1493;
}

button.btn.btn-link.btn-block.language-select {
    padding: 7px!important;
}
.tmdblog-allblogcategory .datebox{background-color: #ff1493!important;}
.tmdblog-allblogcategory .btnread{background-color: #ff1493!important;}
.tmdblog-allblogcategory  .agentbox a{color:#ff1493!important}

#latestpost .description {
 color: #444!important;
}
.breadcrumb > li {
    text-shadow: none;
    padding: 15px 15px 9px 0px;
    position: relative;
    white-space: nowrap;
    font-size: 15px;
}
#latestpost .breadcrum li {
    color:#ff1493!important;
}

#latestpost .breadcrumb > li a {
    color: #ff1493;
    font-size: 16px;
    text-transform: uppercase;
}

.feedback li span.user {
    color: #ff1493!important;
}
.logoutbox a{color: #ff1493!important;}

#postfeedback .commentbox .comment .name {
    font-size: 18px;
    font-weight: 400!important;
    margin-right: 20px;
    vertical-align: top;
    margin-bottom: 10px;
}
.cate2 .caption .fa {
    color: #ff1493;
}

.cate2 .featured_product .price {
    font-weight: 400;
    color: #ff1493;
}

.datebox {
	background-color: #F55A4E!important;
}
.description1 {
    color: #444!important;
	font-size:13px;
}

.breadcrumb {
    background: transparent;
    border-radius: 0px;
    padding: 0px 15px 10px 3px;
    display: inline-block;
    margin: 0;
}

#propertydetails_address h3{ border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 18px;
    color: #444;
    font-weight: 600;
    margin: 0 0 20px;
    text-transform: capitalize;}
	
#mega_menu .btn-navbar {

	font-size: 15px;

	margin-top:5px;

	font-stretch: expanded;

	color: #FFF;

	padding: 2px 18px;

	float: right;

	background-color: #ff1493;

	background-image: linear-gradient(to bottom, #ff1493, #ff1493);

	background-repeat: repeat-x;

	border-color: #ff1493;

}

#mega_menu .btn-navbar:hover, #mega_menu .btn-navbar:focus, #mega_menu .btn-navbar:active, #mega_menu .btn-navbar.disabled, #mega_menu .btn-navbar[disabled] {

	color: #ffffff;

	background-color: #ff1493;

}	


/****** membership plan new css upated for all css  **************/
.realestate_plan ul li {
    padding: 10px;
    font-size: 16px;
    line-height: 31px;
}
.realestate_plan{margin:20px 0px;}
.realestate_plan .pricing-divider {
    border-radius: 0;
    padding: 15px;
    position: relative;
	

}
.realestate_plan .pricing-divider h3{color:#fff;}
.realestate_plan .pricing-divider h4{color:#fff;}
.realestate_plan .green .pricing-divider {
background: #1AA85C; 
}
.realestate_plan .green b {
  color:#1AA85C
}


.realestate_plan .btn-custom{
  background:#C64545; color:#fff; border-radius:0;
}

.realestate_plan .img-float {
  width:50px; position:absolute;top:-3.5rem;right:1rem
}

.realestate_plan .princing-item {
  transition: all 150ms ease-out;
}
.realestate_plan .princing-item:hover {
  transform: scale(1.05);
}
.realestate_plan .princing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.realestate_plan .princing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.realestate_plan .card-body.bg-white.mt-0.shadow {
    border: 1px solid #eee;
	margin-bottom:20px;
}
.featrues-sliders .owl-carousel {
    position: relative;
    z-index: -1;
}
.featrues-sliders .owl-carousel {
    position: relative;
    z-index: -1;
	
}
.payment-successimg {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    clear: both;
}
.bg-white{background:#fff; padding:5px;}
.realestate_plan input[type='radio']{opacity: 0;}